{% extends 'PiggyBoxShopBundle::layout.html.twig'%}
{% block body%}

{% include 'PiggyBoxShopBundle:Shop:order_sub_header.html.twig' with {'toValidate_count': orders_toValidate|length, 'toPrepare_count': orders_toPrepare|length, 'toArchive_count': orders_toArchive|length}%}

<div id="main">
	<div id="primary" class="site-content container">

		<h2 id="to_validate">Commandes à valider <sup id="super-badge" class="badge badge-success">{{orders_toValidate|length}}</sup></h2>

		<div data-load-more="{{path('moncommerce_mescommandes', {'_format': 'json'})}}" class="to_validate_ajax">
		{% include 'PiggyBoxShopBundle:Shop:orders_to_validate.html.twig' with {'orders_toValidate': orders_toValidate} %}
		</div>

		<hr class="divider">
		<h2 id="to_prepare">Commandes à préparer <sup class="badge badge-warning">{{orders_toPrepare|length}}</sup></h2>

	{% for order in orders_toPrepare %}
        <div class="box box-margined box-warning">
            <div class="row-fluid bottom-marged">

                <div class="span4">
                    <h4><i class="icon-time" style="margin-top: 3px;"></i> {{order.pickupatDate|localizeddate('full','none')}} {{order.pickupatTime|date("H:i")}}</h4>
                </div>

                <div class="span4">
					<i class="icon-user"></i> <strong>{{order.user.name}}</strong> <br>
					<i class="icon-signal"></i> {{order.user.phonenumber}}<br>
					<i class="icon-envelope"></i> {{order.user.email}}
                </div>

                <div class="span4 text-centered">
                    <span class="label label-success">Première commande</span> <br>
                    <span class="label label-important">Non payé</span>
                </div>

            </div>

            <div class="row-fluid bottom-marged">

                <div class="span8">
                    <table class="table table-bordered cart-large no-margin">
                        <thead>
                            <tr>
                                <th class="col1">Désignation Produit</th>
                                <th class="col2">Quantité</th>
                                <th class="col3">Prix Total</th>
                            </tr>
                        </thead>

                        <tbody>
							{% for order_detail in order.orderdetail %}
							<tr>
								<td class="col1">
									<strong>
										{{order_detail.product.name}}
									</strong>
								</td>
								<td class="col2">{{order_detail.quantity}} {% if order_detail.product.priceType == 'chunk_price' %}pers.{% endif %}</td>
								<td class="col3">{{order_detail.totalPrice}} €</td>
							</tr>
							{% endfor %}
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped cart-total pull-right">
                        <tr>
                            <td class=""><strong>Total TTC:</strong></td>
							<td class=""><strong>{{order.totalprice}} €</strong></td>
                        </tr>
                    </table>

                </div>

				{% if order.note is not null %}
                <div class="span4">
                    <div class="alert alert-info">
                        <div class="label label-info">Note du client</div>
                        <p>Merci de mettre toute ma commande sous vide</p>
                    </div>
                </div>
				{% endif %}

            </div>

            <div class="row-fluid">
                <div class="span3 offset1">
                    <a href="{{path('change_status', {'order_id': order.id, 'status': 'archived'})}}" class="btn btn-block"><i class="icon-flag"></i> Retirée</a>
                </div>
                <div class="span4 offset3">
                    <a href="{{path('change_status', {'order_id': order.id, 'status': 'toArchive'})}}" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Prête</a>
                </div>
            </div>
        </div>

		{% endfor %}

		<hr class="divider">
		<h2 id="to_collect">Commandes à retirer <sup class="badge">{{orders_toArchive|length}}</sup></h2>

	{% for order in orders_toArchive %}
        <div class="box box-margined">
            <div class="row-fluid bottom-marged">

                <div class="span4">
                    <h4><i class="icon-time" style="margin-top: 3px;"></i> {{order.pickupatDate|localizeddate('full','none')}} {{order.pickupatTime|date("H:i")}}</h4>
                </div>

                <div class="span4">
					<i class="icon-user"></i> <strong>{{order.user.name}}</strong> <br>
					<i class="icon-signal"></i> {{order.user.phonenumber}}<br>
					<i class="icon-envelope"></i> {{order.user.email}}
                </div>

                <div class="span4 text-centered">
                    <span class="label label-success">Première commande</span> <br>
                    <span class="label label-important">Non payé</span>
                </div>

            </div>

            <div class="row-fluid bottom-marged">

                <div class="span8">
                    <table class="table table-bordered cart-large no-margin">
                        <thead>
                            <tr>
                                <th class="col1">Désignation Produit</th>
                                <th class="col2">Quantité</th>
                                <th class="col3">Prix Total</th>
                            </tr>
                        </thead>

                        <tbody>
							{% for order_detail in order.orderdetail %}
							<tr>
								<td class="col1">
									<strong>
										{{order_detail.product.name}}
									</strong>
								</td>
								<td class="col2">{{order_detail.quantity}}</td>
								<td class="col3">{{order_detail.quantity*order_detail.product.price}} €</td>
							</tr>
							{% endfor %}
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped cart-total pull-right">
                        <tr>
                            <td class=""><strong>Total TTC:</strong></td>
							<td class=""><strong>{{order.totalprice}} €</strong></td>
                        </tr>
                    </table>

                </div>
				{% if order.note is not null %}
                <div class="span4">
                    <div class="alert alert-info">
                        <div class="label label-info">Note du client</div>
                        <p>Merci de mettre toute ma commande sous vide</p>
                    </div>
                </div>
				{% endif %}

            </div>

            <div class="row-fluid">
                <div class="span4 offset7">
                    <a href="{{path('change_status', {'order_id': order.id, 'status': 'archived'})}}" class="btn btn-large btn-block btn-inverse"><i class="icon-flag icon-white"></i> Retirée</a>
                </div>
            </div>
        </div>
	{% endfor %}

	</div>
</div>

{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="{{ asset('bundles/piggyboxshop/js/vendor/humane.min.js')}}"></script>
	<script src="{{ asset('bundles/piggyboxshop/js/orders_to_validate.js')}}"></script>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/piggyboxshop/css/vendor/bigbox.css')}}">
{% endblock %}
