{% extends 'PiggyBoxShopBundle::layout.html.twig'%}
{% block body%}

{% include 'PiggyBoxShopBundle:Shop:order_sub_header.html.twig' with {'toValidate_count': orders_toValidate|length, 'toPrepare_count': orders_toPrepare|length, 'toArchive_count': orders_toArchive|length}%}

<div id="main">
	<div id="primary" class="site-content container">

		<h2 id="to_validate">Commandes à valider <sup id="super-badge" class="badge badge-success">{{orders_toValidate|length}}</sup></h2>

		<div data-load-more="{{path('moncommerce_mescommandes', {'_format': 'json'})}}" class="to_validate_ajax">
		{% include 'PiggyBoxShopBundle:Shop:orders_to_validate.html.twig' with {'orders_toValidate': orders_toValidate} %}
		</div>

		<hr class="divider">
		<h2 id="to_prepare">Commandes à préparer <sup class="badge badge-warning">{{orders_toPrepare|length}}</sup></h2>

	{% for order in orders_toPrepare %}
		<div class="box box-margined box-warning">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
					<h4 class="no-margin">{{order.pickupatDate|localizeddate('full','none')}} </h4>

	    				<h3 class="no-margin">{{order.pickupatTime|date("H:i")}}</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						{% for order_detail in order.orderdetail %}
						<li><i class="icon-ok"></i> {{order_detail.product.name}} -
						{% if order_detail.product.pricetype == 'weight_price'%}{% if order_detail.quantity < 10%}{{order_detail.quantity}}00g{% else %}{{order_detail.quantity/10}}Kg{% endif %}{% else %}{{order_detail.quantity}}{% endif %}</li>
						{% endfor %}
					</ul>

                </div>

                <div class="span3 text-centered">
					<h3 class="no-margin">No {{order.ordernumber}}</h3>
					<hr />
					<h4 class="no-margin">{{order.user.name}}</h4>
					<div><i class="icon-user"></i> {{order.user.phonenumber}}</div>
					<span class="label label-success">Première Commande</span>

                	<hr class="divider" />

                	<div class="order-price text-centered">{{order.totalprice}}€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="{{path('change_status', {'order_id': order.id, 'status': 'toArchive'})}}" class="btn btn-large btn-block btn-inverse"> <i class="icon-flag icon-white"></i> Prête </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>
	{% endfor %}


		<hr class="divider">
		<h2 id="to_collect">Commandes à retirer <sup class="badge">{{orders_toArchive|length}}</sup></h2>

	{% for order in orders_toArchive %}
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
					<h4 class="no-margin">{{order.pickupatDate|localizeddate('full','none')}} </h4>
	    				<h3 class="no-margin">{{order.pickupatTime|date("H:i")}}</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						{% for order_detail in order.orderdetail %}
							<li><i class="icon-ok"></i> {{order_detail.product.name}} - {% if order_detail.product.pricetype == 'weight_price'%}{% if order_detail.quantity < 10%}{{order_detail.quantity}}00g{% else %}{{order_detail.quantity/10}}Kg{% endif %}{% else %}{{order_detail.quantity}}{% endif %}</li>
						{% endfor %}
					</ul>

                </div>

                <div class="span3 text-centered">
					<h3 class="no-margin">No {{order.ordernumber}}</h3>
					<hr />
					<h4 class="no-margin">{{order.user.name}}</h4>
					<div><i class="icon-user"></i> {{order.user.phonenumber}}</div>
					<span class="label label-success">Première Commande</span>

                	<hr class="divider" />

                	<div class="order-price text-centered">{{order.totalprice}}€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="{{path('change_status', {'order_id': order.id, 'status': 'archived'})}}" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>
	{% endfor %}

	</div>
</div>

{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="{{ asset('bundles/piggyboxshop/js/vendor/humane.min.js')}}"></script>
	<script src="{{ asset('bundles/piggyboxshop/js/orders_to_validate.js')}}"></script>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/piggyboxshop/css/vendor/bigbox.css')}}">
{% endblock %}
