<h1>Shop creation</h1>

<form action="{{ path('moncommerce_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<form action="" method="post" {{ form_enctype(opening_hour) }}>
    {{ form_widget(opening_hour) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
