{% for order in orders_toValidate%}
    <div class="box box-margined box-success">
        <div class="row-fluid bottom-marged">

            <div class="span4">
                <h4><i class="icon-time" style="margin-top: 3px;"></i> {{order.pickupatDate|localizeddate('full','none')}} {{order.pickupatTime|date("H:i")}}</h4>
            </div>

            <div class="span4">
                <i class="icon-user"></i> <strong>{{order.user.name}}</strong> <br>
                <i class="icon-signal"></i> {{order.user.phonenumber}}<br>
                <i class="icon-envelope"></i> {{order.user.email}}
            </div>

            <div class="span4 text-centered">
                <span class="label label-success">Première commande</span> <br>
                <span class="label label-important">Non payé</span>
            </div>

        </div>

        <div class="row-fluid bottom-marged">

            <div class="span8">
                <table class="table table-bordered cart-large no-margin">
                    <thead>
                        <tr>
                            <th class="col1">Désignation Produit</th>
                            <th class="col2">Quantité</th>
                            <th class="col3">Prix Total</th>
                        </tr>
                    </thead>

                    <tbody>
						{% for orderDetail in order.orderdetail %}
							{% if orderDetail.menuDetail is null %}
								<tr>
									<td class="col1">
										<strong>
											{{orderDetail.product.name}}
										</strong>
									</td>
									<td class="col2">{{orderDetail.quantity}} {% if orderDetail.product.priceType == 'chunk_price' %}pers.{% endif %}</td>
									<td class="col3">{{(orderDetail.totalPrice)|number_format(2, ',', ' ')}} €</td>
								</tr>
							{% endif %}
						{% endfor %}

						{% set menuDetailBufferId = [] %}

                        {% for orderDetail in order.orderdetail %}
							{% if orderDetail.menuDetail != null %}
								{% if  orderDetail.menuDetail.id not in menuDetailBufferId %}
								<tr>
									<td colspan="3" class="col1">
										<strong>
											{{ orderDetail.menuDetail.menu.title }}
										</strong>
                                        <br>
                                        <ul class="unstyled">
											{% for product in orderDetail.menuDetail.products %}
											<li><i class="icon-ok"></i> {{ product.name }}</li>
											{% endfor %}
                                        </ul>
										{% set menuDetailBufferId = menuDetailBufferId|merge([orderDetail.menuDetail.id]) %}
									</td>
								</tr>
								{% endif %}
							{% endif %}
						{% endfor %}

                    </tbody>
                </table>

                <table class="table table-bordered table-striped cart-total pull-right">
                    <tr>
                        <td class=""><strong>Total TTC:</strong></td>
						<td class=""><strong>{{order.totalprice|number_format(2, ',', ' ')}} €</strong></td>
                    </tr>
                </table>

            </div>

              <div class="span4">
  				<h3 clss="no-margin text-centered">No {{order.ordernumber}}</h3>
  				{% if order.note is not null %}
  					<div class="alert alert-info">
  						<div class="label label-info">Note du client</div>
  						<p>Merci de mettre toute ma commande sous vide</p>
  					</div>
  				{% endif %}
              </div>

        </div>

        <div class="row-fluid">
            <div class="span3 offset1">
                <a href="{{path('change_status', {'order_id': order.id, 'status': 'refused'})}}" class="btn btn-danger btn-block"><i class="icon-remove icon-white"></i> Refuser</a>
            </div>
            <div class="span4 offset3">
                <a href="{{path('change_status', {'order_id': order.id, 'status': 'toPrepare'})}}" class="btn btn-large btn-block btn-success"><i class="icon-thumbs-up icon-white"></i> Valider</a>
            </div>
        </div>
    </div>

{% endfor %}
