<a class="span4 text-centered" href="http://cotelettes-tarteauxfraises.com/commerce/{{product.shop.slug}}/produits/{{product.category.slug}}/{{product.slug}}">
    <img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt="" class=""><br/>
    	<strong>{{product.name}}</strong>
</a>
