{% set width = '800px' %}
{% set padding_left = '80px' %}
{% set padding_bottom = '26px' %}
{% set ul_margin = '80px' %}



<style type="text/css">

</style>

<div id="header" style="width: {{ width }};">

	<img src="{{header}}" alt="">

</div>

<div id="container">
	<div id="content" style="padding-left: {{ padding_left }};">

		<div style="padding-bottom: {{ padding_bottom }} ;"></div>

		<table>
			<tr style="font-size: 21px; padding-bottom: {{ padding_bottom }}; ">
				<td><img src="{{ tick }}" alt=""></td>
				<td>
					Votre commande
					<span style="font-weight: bold;">#{{order.ordernumber}}</span>
					a été validée
				</td>
			</tr>
		</table>

		<div style="padding-bottom: {{ padding_bottom }} ;"></div>

		<table>
			<tr style="font-size: 21px; padding-bottom: {{ padding_bottom }}; ">
				<td><img src="{{ mapmarker }}" alt=""></td>
				<td>
					Votre commande est à récupérer dans le commerce suivant: <br />
					<span style="font-weight: bold;">
						{{order.shop.name}}
					</span>
				</td>
			</tr>
		</table>

		<div style="padding-bottom: {{ padding_bottom }} ;"></div>

		<table>
			<tr style="font-size: 21px; padding-bottom: {{ padding_bottom }}; ">
				<td><img src="{{ highlightmarker }}" alt=""></td>
				<td>
					Votre commande:
				</td>
			</tr>
		</table>

		<table>
			<tr style="font-size: 21px; padding-bottom: {{ padding_bottom }}; ">
				<td>
					<div style="padding-left: {{ ul_margin }}; ">
						{% for order_detail in order.orderdetail %}
						{{order_detail.product.name}} - {% if order_detail.product.pricetype == 'weight_price'%}{% if order_detail.quantity < 10%}{{order_detail.quantity}}00g{% else %}{{order_detail.quantity/10}}Kg{% endif %}{% else %}{{order_detail.quantity}}{% endif %}
						{% endfor %}

					</div>
				</td>
			</tr>
		</table>






		<div style="padding-bottom: {{ padding_bottom }} ;"></div>
		<div style="padding-bottom: {{ padding_bottom }} ;"></div>

	</div>
</div>


<div id="footer" style="width: {{ width }};">

	<img src="{{ footer }}" alt="">

</div>
