<h1>Order</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
        <tr>
            <th>Total_price</th>
            <td>{{ entity.totalprice }}</td>
        </tr>
        <tr>
            <th>Pickupat</th>
            <td>{{ entity.pickupat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Total_products</th>
            <td>{{ entity.totalproducts }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('order') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('order_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('order_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
