{% if orders|length > 0 %}

<div id="content" class="">
	<form action="{{path('submit_cart') }}" method="post" {{form_enctype(form)}}>

    <section id="shopping-cart-progess-bar" class="clearfix">

        <div id="" class="container cart-progress">
            <div class="row">
                <div class="span10 offset1 text-centered">

                    <div class="cart-progress-item current">
                        <div class="step-number"><span>1</span></div>
                        Commande
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>2</span></div>
                        Date & Heure
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>3</span></div>
                        Identification
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>4</span></div>
                        Validation
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>5</span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Votre panier <small>Vos commandes en cours</small> </h1>
                </div>
            </div>
        </div>
    </div>

	{% for order in form.orders %}
    <div class="container">

        <div class="row">
            <div class="span12">

				<h2>{{order.vars.value.shop.name}}</h2>

                <table class="table table-striped cart-large">
                    <thead>
                        <tr>
                            <th class="col1">Désignation Produit</th>
                            <th class="col2">Quantité</th>
                            <th class="col3">Prix Unitaire</th>
                            <th class="col4">Prix au Kilo</th>
                            <th class="col5">Prix Total</th>
							<th class="col6"><i class="icon-trash icon-white"></i></th>
                        </tr>
                    </thead>

                    <tbody>
						{% for orderDetail in order.order_detail %}
                        <tr>
                            <td class="col1">
								<img src="{{orderDetail.vars.value.product.getWebPath | apply_filter('little_thumb') }}" alt="" class="">
                                <strong>
									{{orderDetail.vars.value.product.name}}
                                </strong>
                            </td>
                            <td class="col2">
                                <div class="product-toolbar product-toolbar-large form-inline">

                                    <div class="select-quantity">
										<div id="quantity-minus" class="btn left minus"><i class="icon-minus"></i></div>
										{{ form_widget(orderDetail.quantity, { 'attr': {'class': 'inline-quantity'} }) }}
										<div id="quantity-plus" class="btn right plus"><i class="icon-plus"></i></div>
                                    </div>

                                    <div class="select-size text-left">
										{{ form_widget(orderDetail.quantityDetail) }}
                                    </div>

                                </div>
                            </td>
                            <td class="col3">8,39 €</td>
                            <td class="col4">15,99 €</td>
                            <td class="col5">150,00 €</td>
							<td class="col6"><a id="remove-order-detail" href="#"><i class="icon-trash"></i></a></td>
                        </tr>
						{% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="span4 offset8">
                <table class="table table-bordered table-striped cart-total">
                    <tr>
                        <td class=""><strong>Total TTC:</strong></td>
                        <td class=""><strong>235,99 €</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	{% endfor %}

    <div class="container">
        <div class="row">
            <div class="toolbar">
                <div class="span6">
                    <a href="#" class="btn btn-small"><i class="icon-arrow-left"></i> Retour à l'étape précédente</a>
                </div>
                <div class="span6 text-right">
                    <button class="btn btn-large btn-primary">Précisez vos disponibilités  <i class="icon-arrow-right icon-white"></i></button>
                </div>
            </div>
        </div>
    </div>

	{{ form_widget(form._token) }}
	</form>
</div>

{% else %}

<div id="content" class="">

    <section id="shopping-cart-progess-bar" class="clearfix">

        <div id="" class="container cart-progress">
            <div class="row">
                <div class="span10 offset1 text-centered">

                    <div class="cart-progress-item current">
                        <div class="step-number"><span>1</span></div>
                        Commande
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>2</span></div>
                        Date & Heure
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>3</span></div>
                        Identification
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>4</span></div>
                        Validation
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>5</span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Votre panier <small>Vos commandes en cours</small> </h1>
                </div>
				<strong>Votre panier est actuellement vide : </strong><a href="{{path('shops')}}">Voir vos commerçants de proximité</a>
            </div>
        </div>
    </div>

    </div>

</div>
		
{% endif %}
