{% if orders|length > 0 %}

<div id="content" class="">
	<form action="{{path('submit_cart') }}" method="post" {{form_enctype(form)}}>

    <section id="shopping-cart-progess-bar" class="clearfix">

        <div id="" class="container cart-progress">
            <div class="row">
                <div class="span10 offset1 text-centered">

                    <div class="cart-progress-item current">
                        <div class="step-number"><span>1</span></div>
                        Commande
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>2</span></div>
                        Date & Heure
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>3</span></div>
                        Identification
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>4</span></div>
                        Paiement
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>5</span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Votre panier <small>Vos commandes en cours</small> </h1>
                </div>
            </div>
        </div>
    </div>

	{% for order in form.orders %}
    <div id="{{order.vars.value.shop.slug}}" class="container">

        <div class="row">
            <div class="span12">

				<h2>{{order.vars.value.shop.name}}</h2>

				<table id="{{order.vars.value.shop.slug}}" class="table table-striped cart-large">
                    <thead>
                        <tr>
                            <th class="col1">Désignation Produit</th>
                            <th class="col2">Quantité</th>
                            <th class="col3">Prix Unitaire</th>
                            <th class="col4">Prix au Kilo</th>
                            <th class="col5">Prix Total</th>
							<th class="col6"><i class="icon-trash icon-white"></i></th>
                        </tr>
                    </thead>

                    <tbody id="{{order.vars.value.shop.slug}}">
						{% for orderDetail in order.order_detail %}
						{% if orderDetail.vars.value.menuDetail is null %}
							<tr id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
								<td class="col1" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
                                    <div class="pull-left img100x100" style="margin-right: 26px;" >
    									{% if orderDetail.vars.value.product.hasImage %}
    										<img src="{{orderDetail.vars.value.product.getWebPath | apply_filter('little_thumb') }}" alt="{{orderDetail.vars.value.product.name}}" title="{{orderDetail.vars.value.product.name}}" >
    									{% endif %}
                                    </div>
									<strong>
										{{orderDetail.vars.value.product.name}}
									</strong>
								</td>
								<td class="col2" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
									<div class="product-toolbar product-toolbar-large form-inline">

										<div class="select-quantity">
											{% if orderDetail.vars.value.product.priceType != 'chunk_price' %}

											<div id="quantity-minus" data-shop="{{order.vars.value.shop.slug}}" rel="{{loop.index0}}-{{order.vars.value.shop.slug}}" class="btn left minus"><i class="icon-minus"></i>
											</div>

											{{ form_widget(orderDetail.quantity, { 'attr': {'class': 'inline-quantity '~loop.index0~'-'~order.vars.value.shop.slug} }) }}

											<div id="quantity-plus" data-shop="{{order.vars.value.shop.slug}}" rel="{{loop.index0}}-{{order.vars.value.shop.slug}}" class="btn right plus"><i class="icon-plus"></i>
											</div>

											{% else %}

											{{ form_widget(orderDetail.quantity, {
												'attr': {
													'rel': loop.index0 ~ "-" ~ orderDetail.vars.value.order.shop.slug,
													'data-shop': orderDetail.vars.value.order.shop.slug,
													'class': 'inline-quantity-person' ,
													'data-min-weight': orderDetail.vars.value.product.minWeight,
													'data-min-person': orderDetail.vars.value.product.minPerson,
													'data-max-weight': orderDetail.vars.value.product.maxWeight,
													'data-max-person': orderDetail.vars.value.product.maxPerson
													}
												})
											}}
											{% endif %}
										</div>

										{% if orderDetail.vars.value.product.priceType == 'unit_variable_price' %}
											<div class="select-size text-left">
												{{ form_widget(orderDetail.quantityDetail) }}
											</div>
										{% endif %}

									</div>
								</td>
								<td class="col3" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
									<span>
										{{orderDetail.vars.value.product.price}}
									</span> €
								</td>
								<td class="col4" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
									<span>
										{{orderDetail.vars.value.product.weightPrice}}
									</span> €
								</td>
								<td class="col5" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
									<span>
										{{orderDetail.vars.value.totalPrice }}
									</span> €
								</td>
								<td class="col6" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
									<a id="remove-order-detail" class="{{loop.index0}}-{{order.vars.value.shop.slug}}" rel="{{order.vars.value.shop.slug}}" href="#"><i class="icon-trash"></i>
									</a>
								</td>
							</tr>
						{% endif %}
						{% endfor %}

						{% set menuDetailBufferId = [] %}

						{% for orderDetail in order.order_detail %}
							{% if orderDetail.vars.value.menuDetail != null %}
								{# Permet de ne pas supprimer l'orderDetail... un peu tricky mais temporaire #}
								{{ form_widget(orderDetail.quantity, { 'attr': {'class': 'inline-quantity '~loop.index0~'-'~order.vars.value.shop.slug, 'style': 'display: none;'} }) }}

								{% if  orderDetail.vars.value.menuDetail.id not in menuDetailBufferId %}

									<tr id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
										<td colspan="4" class="col1" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
                                            <div class="pull-left img100x100" style="margin-right: 26px;" >
    											{% if orderDetail.vars.value.product.hasImage %}
    												<img
                                                        src="{{orderDetail.vars.value.product.getWebPath | apply_filter('little_thumb') }}"
                                                        alt="{{orderDetail.vars.value.product.name}}"
                                                        title="{{orderDetail.vars.value.product.name}}" >
    											{% endif %}
                                            </div>
											<strong>
												{{ orderDetail.vars.value.menuDetail.menu.title }}
											</strong>
                                            <br>
                                            <ul class="unstyled">
												{% for product in orderDetail.vars.value.menuDetail.products %}
												<li><i class="icon-ok"></i> {{ product.name }}</li>
												{% endfor %}
                                            </ul>
											{% set menuDetailBufferId = menuDetailBufferId|merge([orderDetail.vars.value.menuDetail.id]) %}
										</td>
										<td class="col5" id="{{loop.index0}}-{{order.vars.value.shop.slug}}" rel="formule">
											<span>
												{{ orderDetail.vars.value.menuDetail.menu.price|number_format(2, ',', ' ') }}
											</span> €
										</td>
										<td class="col6" id="{{loop.index0}}-{{order.vars.value.shop.slug}}">
											<a onclick="_gaq.push(['_trackEvent', 'Panier', 'Supprimer', {{order.vars.value.shop.slug}}]);" id="remove-order-detail" class="{{loop.index0}}-{{order.vars.value.shop.slug}}" rel="{{order.vars.value.shop.slug}}" href="#"><i class="icon-trash"></i>
											</a>
										</td>
									</tr>

								{% endif %}
							{% endif %}
						{% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

		<div class="row">
			<div class="span12">
				<input name="reload" class="pull-right btn btn-small btn-info" type="submit" value="Mettre à jour mon panier">
				<br/>
				<br/>
			</div>
		</div>

        <div class="row">
            <div class="span4 offset8">
				<table id="{{order.vars.value.shop.slug}}-total" class="table table-bordered table-striped cart-total">
                    <tr>
                        <td class=""><strong>Total TTC:</strong></td>
						<td class="total-price">
							<strong>
								<span>
									{{order.vars.value.totalprice|number_format(2, ',', ' ')}}
								</span> €
							</strong>
						</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="toolbar">
                <div class="span6">
                    <a onclick="_gaq.push(['_trackEvent', 'PANIER', 'Retour au shop', {{order.vars.value.shop.name}}]);" href="{{ path('user_show_shop', {'shop_slug': order.vars.value.shop.slug }) }}" class="btn btn-small"><i class="icon-arrow-left"></i> Retourner à "<em>{{order.vars.value.shop.name}}</em>"</a>
                </div>
            </div>
        </div>

    </div>
	{% endfor %}

    <div class="container">
        <div class="row">
            <div class="toolbar">
                <div class="span6">
                    <a onclick="_gaq.push(['_trackEvent', 'PANIER', 'Trouver dautres commercants', 'link']);" href="{{path('shops')}}" class="btn"><i class="icon-map-marker"></i> Trouver d'autres commerçants</a>
                </div>
                <div class="span6 text-right">
                    <button class="btn btn-large btn-primary">Précisez vos disponibilités  <i class="icon-arrow-right icon-white"></i></button>
                </div>
            </div>
        </div>
    </div>

	{{ form_widget(form._token) }}
	</form>
</div>

{% else %}

<div id="content" class="">

    <section id="shopping-cart-progess-bar" class="clearfix">

        <div id="" class="container cart-progress">
            <div class="row">
                <div class="span10 offset1 text-centered">

                    <div class="cart-progress-item current">
                        <div class="step-number"><span>1</span></div>
                        Commande
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>2</span></div>
                        Date & Heure
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>3</span></div>
                        Identification
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>4</span></div>
                        Validation
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>5</span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Votre panier <small>Vos commandes en cours</small> </h1>
                </div>
				<strong>Votre panier est actuellement vide : </strong><a onclick="_gaq.push(['_trackEvent', 'PANIER', 'Voir commercants de proximite', 'Message de panier vide']);" href="{{path('shops')}}">Voir vos commerçants de proximité</a>
            </div>
        </div>
    </div>

    </div>

</div>

{% endif %}
