				<section id="shopping-cart" class="span4">
					<div class="well">

						<h2>
							<img src="{{ asset('bundles/piggyboxconsumer/img/shopping_cart.png') }}" width="38">
							Votre panier
						</h2>

						<br /><br />

						{% set orders  = piggybox_orders_get() %}
							{% for order in orders %}
								<h2>{{order.shop.name}}</h2>
									{% for order_detail in order.orderdetail %}
										<table class="table">
											<tr>
												<td>{{ order_detail.product.name }}</td>
												<td>{{ order_detail.price.price}}</td>
	
											</tr>
										</table>
									{% endfor %}
									<br /><br />
										<a href="{{ path('validate_order', { 'order_id': order.id}) }}">Valider le panier</td>
									<br /><br />
							{% endfor %}



					</div>
					</section>

