

{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


<div class="container">
    <div class="row">

        <div id="content" class="">

        	<section id="shopping-cart" class="">

					<h1>
						Votre panier <small>Commande à valider</small>
					</h1>

					{% set orders  = piggybox_orders_get() %}

						{% for order in orders %}	
		    			 	<div class="span10 offset1">

		    			 		<h3>{{order.shop.name}}</h3>

			                    <table class="table pricing">
			                        <thead>
			                            <tr>
			                                <th>Produit</th>
			                                <th class="text-right">Qté</th>
			                                <th class="text-right">Prix</th>
			                            </tr>
			                        </thead>

			                        <tbody>
			                        {% for order_detail in order.orderdetail %} 
			                            <tr>
			                                <td>{{ order_detail.product.name }}</td>
			                                <td class="text-right">1</td>
			                                <td class="text-right">{{ order_detail.price.price}} €</td>
			                            </tr>
			                        {% endfor %}
			                        </tbody>

			                        <tfoot>
			                            <tr class="ttc-price">
			                                <td colspan="2">Total TTC</td>
			                                <td>0 €</td>
			                            </tr>
			                        </tfoot>

			                    </table>	

			                    <a href="#validationModalContent-12" role="button" class="btn btn-primary pull-right" data-toggle="modal">
			                    	<i class="icon-time icon-white"></i> 
			                    	Finaliser ma commande
			                    </a>

			                    <div id="validationModalContent-12" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<form action="{{ path('validate_order') }}" method="post" {{ form_enctype(form[order.id]) }} class="form-horizontal modal-form">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="">Finalisez votre commande <small>en quelques secondes</small></h3>
										</div>

										<div class="modal-body">
											{{ form_errors(form[order.id]) }}
											<h3>A propos de votre commande</h3>
					                    	<p>A quelle heure souhaitez vous passez la recupérer?</p>	
					        
											<div class="control-group">
												<label class="control-label">Date de retrait:</label>
												<div class="controls data-load-shop" data-load-shop="{{order.shop.id}}">
													{{ form_row(form[order.id].pickupatDate) }}
												</div>
											</div>
											
											<div class="control-group">
												<label class="control-label">A partir de:</label>
												<div class="controls">
													{{ form_row(form[order.id].pickupatTime) }}
												</div>
											</div>

											{% if app.user.name is null or app.user.email is null or app.user.phonenumber is null %}
					                    	<h3>A propos de vous</h3>
											
											<div class="control-group">
												<label class="control-label">Votre nom</label>
												<div class="controls">
					
												</div>
											</div>
				                    		
											<div class="control-group">
												<label class="control-label">Votre email</label>
												<div class="controls">
					
												</div>
											</div>
				                    		
											<div class="control-group">
												<label class="control-label">Votre téléphone</label>
												<div class="controls">
													
												</div>
											</div>
											{% endif %}
					                    </div>

					                    <div class="modal-footer">
					                    	<button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Annuler et revenir au panier</button>
					                    	<button class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Valider la commande</button>
					                    </div>		
										{{ form_rest(form[order.id]) }}
				                    </form>
			                    </div>


		                    </div>

		                {% endfor %}


			</section>

        </div>

    </div>
</div>
{% endblock content %}

{% block javascript %}
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
(function ($) {
    $('select#piggybox_orderbundle_ordertype_pickupatDate_date').click(function (e) {
        var target = $(this);
		var shop_id =$('div.controls.data-load-shop');

		console.log(shop_id.attr('data-load-shop'));
        if (shop_id.attr('data-load-shop')) {
            $.ajax({
                url: Routing.generate('view_opening_hours', { "shop_id": shop_id.attr('data-load-shop'), "time_string" : target.val()}),
                dataType: 'json',
                success: function (data) {
					console.log("yeahhhhhh");
					var select = $('select#piggybox_orderbundle_ordertype_pickupatTime_time');
					if(select.prop) {
		  		  	  var options = select.prop('options');
	  				}

					else {
						var options = select.attr('options');
					}
					$('option', select).remove();	
					
					select.append(data.content);
				},
				error: function (xhr, ajaxOptions, thrownError) {
    			    alert(xhr.status);
					alert(xhr.responseText);
			        alert(thrownError);
    			  }
            });
        }
    });
	
})(jQuery);
</script>
{% endblock %}
