

{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


<div class="container">
    <div class="row">

        <div id="content" class="">

        	<section id="shopping-cart" class="">

					<h1>
						Votre panier <small>Commande à valider</small>
					</h1>

					{% set orders  = piggybox_orders_get() %}

						{% for order in orders %}	
		    			 	<div class="span10 offset1">

		    			 		<h3>{{order.shop.name}}</h3>

			                    <table class="table pricing">
			                        <thead>
			                            <tr>
			                                <th>Produit</th>
			                                <th class="text-right">Qté</th>
			                                <th class="text-right">Prix</th>
			                            </tr>
			                        </thead>

			                        <tbody>
			                        {% for order_detail in order.orderdetail %} 
			                            <tr>
			                                <td>{{ order_detail.product.name }}</td>
			                                <td class="text-right">1</td>
			                                <td class="text-right">{{ order_detail.price.price}} €</td>
			                            </tr>
			                        {% endfor %}
			                        </tbody>

			                        <tfoot>
			                            <tr class="ttc-price">
			                                <td colspan="2">Total TTC</td>
			                                <td>0 €</td>
			                            </tr>
			                        </tfoot>

			                    </table>	

			                    <a href="#validationModalContent-12" role="button" class="btn btn-primary pull-right" data-toggle="modal">
			                    	<i class="icon-time icon-white"></i> 
			                    	Finaliser ma commande
			                    </a>

			                    <div id="validationModalContent-12" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<form action="{{ path('validate_order') }}" method="post" {{ form_enctype(form[order.id]) }} class="form-horizontal modal-form">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="">Finalisez votre commande <small>en quelques secondes</small></h3>
										</div>

										<div class="modal-body">
											{{ form_errors(form[order.id]) }}
											<h3>A propos de votre commande</h3>
					                    	<p>A quelle heure souhaitez vous passez la recupérer?</p>	
					        
											<div class="control-group">
												<label class="control-label">Date de retrait:</label>
												<div class="controls">
													{{ form_widget(form[order.id].day) }}
												</div>
											</div>
											
											<div class="control-group">
												<label class="control-label">A partir de:</label>
												<div class="controls">

												</div>
											</div>

											{% if app.user.name is null or app.user.email is null or app.user.phonenumber is null %}
					                    	<h3>A propos de vous</h3>
											
											<div class="control-group">
												<label class="control-label">Votre nom</label>
												<div class="controls">
					
												</div>
											</div>
				                    		
											<div class="control-group">
												<label class="control-label">Votre email</label>
												<div class="controls">
					
												</div>
											</div>
				                    		
											<div class="control-group">
												<label class="control-label">Votre téléphone</label>
												<div class="controls">
													
												</div>
											</div>
											{% endif %}
					                    </div>

					                    <div class="modal-footer">
					                    	<button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Annuler et revenir au panier</button>
					                    	<button class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Valider la commande</button>
					                    </div>		
										{{ form_rest(form[order.id]) }}
				                    </form>
			                    </div>


		                    </div>

		                {% endfor %}


			</section>

        </div>

    </div>
</div>
{% endblock content %}

{% block javascript %}
{{parent()}}
<script type="text/javascript">
(function ($) {

	var allHours = {};

	$(document).ready(function() {
		var select = $('select#piggybox_orderbundle_ordertype_pickup_time');
		var today = new Date();
		var today_date_string = today.getFullYear();
		today.setHours(today.getHours()+3);
		
		if ((today.getUTCMonth()+1)<10) {
			today_date_string = today_date_string+'0'+(today.getUTCMonth()+1);
		}
		else{
			today_date_string = today_date_string+''+(today.getUTCMonth()+1);
		}
		
		if (today.getUTCDate()<10) {
			today_date_string = today_date_string+'0'+today.getUTCDate();
		}
		else{
			today_date_string = today_date_string+''+today.getUTCDate();
		}
		
		var today_time_string = today_date_string;		
		if (today.getHours()<10) {
			today_time_string = today_time_string+'0'+today.getHours();
		}
		else{
			today_time_string = today_time_string+''+today.getHours();
		}

		if (today.getMinutes()<10) {
			today_time_string = today_time_string+'0'+today.getMinutes();
		}
		else{
			today_time_string = today_time_string+''+today.getMinutes();
		}
		
		$("select#piggybox_orderbundle_ordertype_pickup_time option").each(function()
		{
			if ($(this).val() > today_time_string) {
				allHours[$(this).val()] = $(this).text();	
			};			
		});
		addOptionsToSelect($('select#piggybox_orderbundle_ordertype_pickup_date').val(), select, allHours);
	});
	
	$('select#piggybox_orderbundle_ordertype_pickup_date').change(function() {
		var value = $(this).val();
		
		var select = $('select#piggybox_orderbundle_ordertype_pickup_time');

		addOptionsToSelect(value, select, allHours);

	});
	
	function	addOptionsToSelect(value, select, allHours){
		var newOptions = {};
		
		for(var i in allHours) {
		    if (allHours.hasOwnProperty(i)) {
				if (i.substr(0, 8) == value) {
					newOptions[i] = allHours[i]; 	
				};
		    }
		}	
				
		if(select.prop) {
  		  var options = select.prop('options');
	  	}
		
		else {
			var options = select.attr('options');
		}
		$('option', select).remove();

		$.each(newOptions, function(val, text) {
    		options[options.length] = new Option(text, val);
		});
	}
	
})(jQuery);
</script>
{% endblock %}