{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div id="content" class="container bottom-marged">
            <div class="row">

            	<div id="" class="span12">

	            	<h1>Qui sommes-nous ? <small>Présentation de notre équipe</small></h1>

	            	<h3>Présentation</h3>

	            	<p><em>"Côtelettes & Tarte aux fraises"</em> est une plateforme qui vise à réunir tous vos commerçants d'alimentation traditionnelle au même endroit. Vous recherchez, vous choisissez et vous allez chercher vos produits en magasin. Vous continuez donc d'aller voir vos commerçants préférés!</p>

	            	<p>Notre équipe est composée des 2 fondateurs et plusieurs personnes motivées par ce projet. Sur cette page vous pouvez faire un petit tour chez nous et apprendre à nous connaitre un peu plus.</p>


            	</div>

	        </div>

	        <hr>

	        <div class="row">
	        	<div class="span4 offset1 bottom-marged">
	        		<h3 style="line-height: 24px;">
	        			Baptiste Dupuch <br>
	        			<small>Co-fondateur / Président</small>
	        		</h3>

	        		<div class="text-centered bottom-marged">
	        			<img src="{{ asset('bundles/piggyboxuser/img/baptiste-dupuch.jpg')}}" class="img-polaroid" alt="">
	        		</div>

	        		<p><a  href="mailto:baptiste@cotelettes-tarteauxfraises.com"><i class="icon-envelope"></i> baptiste@cotelettes-tarteauxfraises.com</a></p>

	        		<ul class="unstyled bottom-marged">
	        			<li><i class="icon-tags"></i> Audencia <small>Grande Ecole de Management</small></li>
	        			<li><i class="icon-tags"></i> Ingénieur ESEO</li>
	        		</ul>

	        		<div class="text-centered">
	        			<a  href="https://twitter.com/BaptisteDupuch">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/twitter.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="http://fr.viadeo.com/fr/profile/baptiste.dupuch">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/viadeo.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="http://www.linkedin.com/pub/baptiste-dupuch/44/686/b97">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/linkedin.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="https://github.com/dupuchba">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/github.png')}}" alt="">
	        			</a>
	        		</div>

	        	</div>

	        	<div class="span4 offset2 bottom-marged">
	        		<h3 style="line-height: 24px;">
	        			Julien Bourdeau <br>
	        			<small>Co-fondateur / Directeur Général</small>
	        		</h3>

	        		<div class="text-centered bottom-marged">
	        			<img src="{{ asset('bundles/piggyboxuser/img/julien-bourdeau.jpg')}}" class="img-polaroid" alt="">
	        		</div>

	        		<p><a  href="mailto:julien@cotelettes-tarteauxfraises.com"><i class="icon-envelope"></i> julien@cotelettes-tarteauxfraises.com</a></p>

	        		<ul class="unstyled bottom-marged">
	        			<li><i class="icon-tags"></i> City University of Hong Kong</li>
	        			<li><i class="icon-tags"></i> Ingénieur ESEO</li>
	        		</ul>

	        		<div class="text-centered">
	        			<a  href="https://twitter.com/julienbourdeau">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/twitter.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="http://fr.viadeo.com/fr/profile/jbourdeau">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/viadeo.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="http://www.linkedin.com/in/julienbourdeau">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/linkedin.png')}}" alt="">
	        			</a>
	        			&nbsp;
	        			<a  href="https://github.com/julienbourdeau/">
	        				<img src="{{ asset('bundles/piggyboxuser/img/icons/github.png')}}" alt="">
	        			</a>
	        		</div>
	        	</div>
	        </div>

	        <hr>

	        <div class="row">
	        	<div class="span12">
	        		<h2>Un petit tour chez nous</h2>
	        	</div>
	        	<div class="span6 bottom-marged"><img src="{{ asset('bundles/piggyboxuser/img/photos/openspace_1.jpg')}}" alt="" class="img-polaroid"></div>
	        	<div class="span6 bottom-marged"><img src="{{ asset('bundles/piggyboxuser/img/photos/openspace_2.jpg')}}" alt="" class="img-polaroid"></div>
	        	<div class="span6 bottom-marged"><img src="{{ asset('bundles/piggyboxuser/img/photos/openspace_4.jpg')}}" alt="" class="img-polaroid"></div>
	        </div>

	    </div>

 {% endblock %}

 {% block javascript%}
 {{ parent() }}
 <script type="text/javascript">
	   _kmq.push(['record', 'Viewed Qui sommes Nous Page']);
</script>
 {% endblock %}
