{#
 # BOUCHERIE-ZOLA
 #}

<div id="sidebar-boucherie-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-DES-GOURMETS
 #}

<div id="sidebar-boucherie-des-gourmets" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/boucherie-jauneau.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie des Gourmets</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-COPERNIC
 #}

<div id="sidebar-boucherie-copernic" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/copernic.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie Copernic</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # LE-BOULANGER-DE-ZOLA
 #}

<div id="sidebar-le-boulanger-de-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/carousel/leboulangerdezola/le-boulanger-de-zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Le Boulanger de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-ZOLA
 #}

<div id="sidebar-boucherie-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-ZOLA
 #}

<div id="sidebar-boucherie-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-ZOLA
 #}

<div id="sidebar-boucherie-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


{#
 # BOUCHERIE-ZOLA
 #}

<div id="sidebar-boucherie-zola" class="home-map-sidebar-item hide">

	<div id="photo-container">
	    <a href="">
	    	<img src="{{asset('bundles/piggyboxuser/img/zola.jpg')}}" width="360px" alt="">
	    </a>
	</div>
	<div id="content-container" class="text-centered">
	    <h3>Boucherie de Zola</h3>

	    <a href="" class="btn btn-large">Visiter la boutique <i class="icon-arrow-right"></i></a>
	</div>

</div>


