{#
 # DEFAULT
 #}

<div id="sidebar-default" class="home-map-sidebar-item" style="padding: 12px 24px;">

	<h4 style="font-weight: normal; font-size:14px; text-align:center;">Cliquez sur un commerce pour le voir en details</h4>

	<hr style="margin:0 0 20px 0;">

	<p style="text-align:center;">Voici les villes où vous pouvez faire vos courses dès aujourd'hui :<p>

	<div id="dd" class="wrapper-dropdown-5" tabindex="1">
		<a id="map-recenter-{{ visitorBigCity | lower }}" class="selectedCity">
			<i class="icon-map-marker icon-white"></i>
			{{ visitorBigCity }}
		</a>

		<ul class="dropdown">
			{% for city, coordinates in availableCities if city != visitorBigCity %}
				<li>
					<a id="map-recenter-{{ city | lower }}"><i class="icon-map-marker"></i>  {{ city }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div style="position:relative;top:170px;left:30px">
			<a href="#" onclick="goShops()" class="btn btn-info btn-large">
				Commencer mon shopping <br />à <span class="beginCityShopping">{{ visitorBigCity }}</span>
				<i class="icon-white icon-arrow-right"></i>
			</a>
	</div>
</div>


 {% for shopper in shoppersDetails %}
	 <div id="sidebar-{{ shopper.slug }}" class="home-map-sidebar-item hide">

		<div id="photo-container">
		    <a href="{{ path('user_show_shop', {'shop_slug': shopper.slug}) }}">
		    	<img src="{{ asset('bundles/piggyboxuser/img/') ~ shopper.img[0]}}" width="360" alt="">
		    </a>
		</div>
		<div id="content-container" class="text-centered">
		    <h3>{{ shopper.name }}</h3>

		    <a href="{{ path('user_show_shop', {'shop_slug':shopper.slug}) }}" class="btn btn-large">
		    	Visiter la boutique <i class="icon-arrow-right"></i>
		    </a>

		    <br /><br />
		    <a class="hideShop"><i class="icon-remove-sign"></i> Fermer l'aperçu</a>
		</div>

	</div>
{% endfor %}
