{% extends 'PiggyBoxUserBundle::layout.html.twig' %}


{% block stylesheets %}

{{parent()}}

<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/themes/bar/bar.css')}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/nivo-slider.css')}}" type="text/css" media="screen" />

{% endblock %}


{% block content %}


    <div class="container">
        <div class="row bottom-marged">
            <div class="span8">
                {% include 'PiggyBoxUserBundle:User:home-slider.html.twig' %}
            </div>

            <div class="span4">

                <div class="ribbon ribbon-promotion"></div>
                <div class="row-fluid slider-sidebar-item">
                    <div class="span12">
                        <a class="" href="http://cotelettes-tarteauxfraises.com/commerce/boucherie-zola/boeuf/cote-de-boeuf-1" >
                            <img src="{{ asset('bundles/piggyboxuser/img/promo/promo-1.jpg')}}" alt="">
                        </a>
                    </div>
                </div>

                <div class="row-fluid slider-sidebar-item" style="margin: 0;">
                    <div class="span12">
                        <a class="img-link" href="{{path('shops')}}" >
                            <img src="{{ asset('bundles/piggyboxuser/img/banette-en-ligne-logo.jpg')}}" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Choisissez votre commerçant de proximité</h1>
                <div id="map-container" class="clearfix">
                    <div id="map-container-left" class="pull-left">
                        {{ google_map_container(map) }}
                    </div>
                    <div id="map-container-right" class="pull-left">
                        {% include 'PiggyBoxUserBundle:User:home-map-sidebar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12 text-centered">
                <div id="newsletter-container">
                    
                    <!-- Begin MailChimp Signup Form -->
                    <form action="http://theboxmake.us6.list-manage.com/subscribe/post?u=7c75c0d9a364017b8e8d9282b&amp;id=ce6741fec0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline clearfix validate" target="_blank" novalidate>
                        <label for="mce-EMAIL">Restez informé des nouveautés </label>
                        <input type="email" value="" name="EMAIL" class="required email input-xlarge" id="mce-EMAIL">
                        <input type="submit" value="Tenez moi au courant !" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large">
                        <div class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                    <!--End mc_embed_signup-->

                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span8">
                <div id="testimonials-container" class="hide">
                    <ul class="testimonials">
                        <li class="testimonial-item current">
                            <div class="quote">&laquo; En faisant la queue à la boulangerie je me suis dit qu'il était temps d'utiliser ce service! &raquo;</div>
                            <div class="quote-source">&#9998; Jonathan, Nantes</div>
                        </li>
                        <li class="testimonial-item">
                            <div class="quote">&laquo; J'adore mes commerces de proximité mais avec un enfant ce n'était pas toujours simple, maintenant je peux y aller plus souvent! &raquo;</div>
                            <div class="quote-source">&#9998; Stéphanie, Nantes</div> 
                        </li>
                        <li class="testimonial-item last-item">
                            <div class="quote">&laquo; En 2013, j'ai décidé de favoriser la qualité, avec Côtelettes & Tarte aux fraises je trouve ce dont j'ai besoin en quelques clics. &raquo;</div>
                            <div class="quote-source">&#9998; Pierre, Orvault</div> 
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="span4">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FC%25C3%25B4telettes-Tarte-aux-fraises%2F389516231125842&amp;width=335&amp;height=250&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true&amp;appId=260550777370634" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:335px; height:266px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Ils parlent de nous</h1>
            </div>
        </div>
        <div class="row bottom-marged">
            <div class="span12 presse-links">
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'startupfactory']);" id="startupfactory" href="http://www.startup-factory.fr/"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'unefilleanantes']);" id="unefilleanantes" href="http://www.unefilleanantes.com/?p=1633"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'sunradio']);" id="sunradio" href="http://kwalitylife.com/le-petit-club-03-novembre-sun-radio/"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'atlanpole']);" id="atlanpole" class="last" href="http://www.atlanpole.fr/Atlanpole-Digital-Innovation/liste-des-news/Startup-Factory-by-Atlanpole-Atlantic-2.0-les-8-laureats-de-la-premiere-saison"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'frenchweb']);" id="frenchweb" href="http://frenchweb.fr/startup-factory-les-8-jeunes-pousses-selectionnees-pour-la-1ere-saison-sont/78901"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'journaldesentreprises']);" id="journalentreprise" href="http://www.lejournaldesentreprises.com/national/filinfo/nantes-huit-projets-retenus-par-startup-factory-02-10-2012-161205.php"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'ouestfrance']);" id="ouestfrance" class="last" href="http://www.entreprises.ouest-france.fr/article/nantes-digital-8-entreprises-accompagnees-au-demarrage-03-10-2012-69372"></a>
            </div>
        </div>
    </div>





{% endblock %}


{% block javascript %}

{{parent()}}

<script src="{{ asset('bundles/piggyboxuser/js/vendor/jquery.nivo.slider.pack.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').nivoSlider();
    });
</script>



<script>

function showShopInMap($slug) {
    var id = "#sidebar-" + $slug;
    $(id).show();
}

$(document).ready(
    function() {
        $('#testimonials-container').removeClass('hide');
        var theContent = $('ul.testimonials li');
        var theWidth = 695;
        var theHeight = 266;
        //wrap into mother div
        $('ul.testimonials').wrap('<div id="mother" />');                    
        //assign height width and overflow hidden to mother
        $('#mother').css({
            width: function() {
            return theWidth;
          }, 
            height: function() {
            return theHeight;
          }, 
            position: 'relative',
            overflow: 'hidden'      
        });
            //get total of image sizes and set as width for ul 
        var totalWidth = theContent.length * theWidth;
        $('ul.testimonials').css({
            width: function(){
            return totalWidth;  
        }               
        });     
     
    }
);

window.setInterval(function(){
    //console.log("cool");
    var theContent = $('ul.testimonials li');
    $(theContent).each(     
        function(intIndex){
            //console.log(intIndex);
            if ($(this).hasClass('current')) {
                $(this).parent('ul').animate({
                    "margin-left": (-(intIndex) * 695)             
                }, 1000)
                $(this).removeClass('current');
                if ($(this).hasClass('last-item')) {
                    $(this).parent('ul').children().addClass('current');
                } else {                        
                    $(this).next().addClass('current');
                }
                return false;
            };
        }
    );
}, 5000);
 
</script>


{{ google_map_js(map) }}

{% endblock %}
