{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}
<div id="">
        <div class="container text-centered">


            <div class="row bottom-marged">
                <div class="span12">
                    <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape1.png')}}" alt=""></div>
                    <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape2.png')}}" alt=""></div>
                    <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape3.png')}}" alt=""></div>
                </div>
            </div>


            <div class="row bottom-marged">
                <div class="span12">
                    <div class="black-bordered">
                        <a href="{{ path('shops') }}">
                            <img class="" src="{{ asset('bundles/piggyboxuser/img/bar1.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">

            <div class="span6">
                <img src="{{ asset('bundles/piggyboxuser/img/features.png')}}" alt="" />
            </div>

            <div class="span6">
                <h1 class="no-margin text-centered">En avant</h1>
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/empty-shop.png')}}" alt=""></div>
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/empty-shop.png')}}" alt=""></div>
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/empty-shop.png')}}" alt=""></div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Ils parlent de nous</h1>
            </div>
        </div>
        <div class="row bottom-marged">
            {#<div class="span4">
                <a href="http://www.startup-factory.fr/">
                    <img class="" src="{{ asset('bundles/piggyboxuser/img/presse/startupfactory.png')}}" alt="">
                </a>
            </div> #}
            <div class="span12 presse-links">
                <a id="startupfactory" href="http://www.startup-factory.fr/"></a>
                <a id="unefilleanantes" href="http://www.startup-factory.fr/"></a>
                <a id="sunradio" href="http://www.startup-factory.fr/"></a>
                <a id="atlanpole" class="last" href="http://www.startup-factory.fr/"></a>
                <a id="frenchweb" href="http://www.startup-factory.fr/"></a>
                <a id="journalentreprise" href="http://www.startup-factory.fr/"></a>
                <a id="ouestfrance" class="last" href="http://www.startup-factory.fr/"></a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <div class="black-bordered">
                    <a href="{{ path('shops') }}">
                        <img class="" src="{{ asset('bundles/piggyboxuser/img/bar2.jpg')}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascript %}
{{parent()}}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{{ asset('bundles/piggyboxuser/js/home.js')}}"></script>

{% endblock %}
