{% extends 'PiggyBoxUserBundle::layout.html.twig' %}


{% block stylesheets %}

{{parent()}}

<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/themes/bar/bar.css')}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/nivo-slider.css')}}" type="text/css" media="screen" />

{% endblock %}


{% block content %}


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <div class="topline">
                    Ne faîtes plus <strong>jamais</strong> la queue pendant vos courses.<br />
                    Commandez en 3 clics. Récuperez vos achats. Savourez.
                </div>
            </div>
        </div>
    </div>
    <div id="background-sexy-picture">
        <div class="map-container">
            <div class="row bottom-marged">
                <div class="span12">
                    <h3 class="text-centered bottom-marged">Comment ça marche ?</h3>
                </div>
                <img src="{{ asset('bundles/piggyboxuser/img/home-blocs-3steps.png')}}" style="margin-left:60px; width:95%;" />
                <h4 class="text-centered bottom-marged">
                    <a href="#map-anchor">Cliquez ici pour commencer ↓</a>
                </h4>
            </div>
        </div>
    </div>

    {% include 'PiggyBoxUserBundle:User:showMap.html.twig' %}

    <div class="container">
        <div class="row bottom-marged">

        </div>
    </div>

    <div class="container">

        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Ils parlent de nous</h1>
            </div>

            <div class="span6 offset2">
                <div id="testimonials-container" class="hide">
                    <ul class="testimonials">
                        <li class="testimonial-item current">
                            <div class="quote">&laquo; En faisant la queue à la boulangerie je me suis dit qu'il était temps d'utiliser ce service! &raquo;</div>
                            <div class="quote-source">&#9998; Jonathan, Nantes</div>
                        </li>
                        <li class="testimonial-item">
                            <div class="quote">&laquo; J'adore mes commerces de proximité mais avec un enfant ce n'était pas toujours simple, maintenant je peux y aller plus souvent! &raquo;</div>
                            <div class="quote-source">&#9998; Claire, Nantes</div>
                        </li>
                        <li class="testimonial-item last-item">
                            <div class="quote">&laquo; En 2013, j'ai décidé de favoriser la qualité, avec Côtelettes & Tarte aux fraises je trouve ce dont j'ai besoin en quelques clics. &raquo;</div>
                            <div class="quote-source">&#9998; Pierre, Orvault</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row bottom-marged">
            <div class="span12 presse-links">
                <a  id="startupfactory" href="http://www.startup-factory.fr/"></a>
                <a  id="unefilleanantes" href="http://www.unefilleanantes.com/?p=1633"></a>
                <a  id="sunradio" href="http://kwalitylife.com/le-petit-club-03-novembre-sun-radio/"></a>
                <a  id="atlanpole" class="last" href="http://www.atlanpole.fr/Atlanpole-Digital-Innovation/liste-des-news/Startup-Factory-by-Atlanpole-Atlantic-2.0-les-8-laureats-de-la-premiere-saison"></a>
                <a  id="frenchweb" href="http://frenchweb.fr/startup-factory-les-8-jeunes-pousses-selectionnees-pour-la-1ere-saison-sont/78901"></a>
                <a  id="journalentreprise" href="http://www.lejournaldesentreprises.com/national/filinfo/nantes-huit-projets-retenus-par-startup-factory-02-10-2012-161205.php"></a>
                <a  id="ouestfrance" class="last" href="http://www.entreprises.ouest-france.fr/article/nantes-digital-8-entreprises-accompagnees-au-demarrage-03-10-2012-69372"></a>
            </div>
        </div>

    </div>




{% endblock %}


{% block javascript %}

{{parent()}}

<!-- Inspectlet Embed Code / inspectlet.com / Analytics & Heatmaps -->
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 825293796]);
    (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent){
            window.attachEvent('onload', __ldinsp);
        }else{
            window.addEventListener('load', __ldinsp, false);
        }
    })();
</script>
<!-- End Inspectlet Embed Code -->

<script src="{{ asset('bundles/piggyboxuser/js/vendor/jquery.nivo.slider.pack.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').nivoSlider();
    });
</script>



<script>


$(document).ready(function() {

        $('#testimonials-container').removeClass('hide');
        var theContent = $('ul.testimonials li');
        var theWidth = 665;
        var theHeight = 200;
        //wrap into mother div
        $('ul.testimonials').wrap('<div id="mother" />');
        //assign height width and overflow hidden to mother
        $('#mother').css({
            width: function() {
            return theWidth;
          },
            height: function() {
            return theHeight;
          },
            position: 'relative',
            overflow: 'hidden'
        });

        //get total of image sizes and set as width for ul
        var totalWidth = theContent.length * theWidth;
        $('ul.testimonials').css({
            width: function(){
            return totalWidth;
        }
        });

    }
);

window.setInterval(function(){
    var theContent = $('ul.testimonials li');
    $(theContent).each(
        function(intIndex)
        {
            if ($(this).hasClass('current')) {
                $(this).parent('ul').animate({
                    "margin-left": (-(intIndex) * 630)
                }, 1000)
                $(this).removeClass('current');
                if ($(this).hasClass('last-item')) {
                    $(this).parent('ul').children().addClass('current');
                } else {
                    $(this).next().addClass('current');
                }
                return false;
            };
        }
    );
}, 5000);

</script>




{{ google_map_js(map) }}


<script type="text/javascript">
	_kmq.push(['record', 'Viewed home page']);
</script>
{% endblock %}
