{% extends 'PiggyBoxUserBundle::layout.html.twig' %}


{% block stylesheets %}

{{parent()}}

<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/themes/default/default.css')}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('bundles/piggyboxuser/css/nivo-slider.css')}}" type="text/css" media="screen" />

{% endblock %}


{% block content %}


    <div class="container">
        <div class="row bottom-marged">
            <div class="span8">
                {% include 'PiggyBoxUserBundle:User:home-slider.html.twig' %}
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div class="span12">promo</div>
                </div>
                <div class="row-fluid">
                    <div class="span12">banette</div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Ils parlent de nous</h1>
            </div>
        </div>
        <div class="row bottom-marged">
            <div class="span12 presse-links">
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'startupfactory']);" id="startupfactory" href="http://www.startup-factory.fr/"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'unefilleanantes']);" id="unefilleanantes" href="http://www.unefilleanantes.com/?p=1633"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'sunradio']);" id="sunradio" href="http://kwalitylife.com/le-petit-club-03-novembre-sun-radio/"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'atlanpole']);" id="atlanpole" class="last" href="http://www.atlanpole.fr/Atlanpole-Digital-Innovation/liste-des-news/Startup-Factory-by-Atlanpole-Atlantic-2.0-les-8-laureats-de-la-premiere-saison"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'frenchweb']);" id="frenchweb" href="http://frenchweb.fr/startup-factory-les-8-jeunes-pousses-selectionnees-pour-la-1ere-saison-sont/78901"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'journaldesentreprises']);" id="journalentreprise" href="http://www.lejournaldesentreprises.com/national/filinfo/nantes-huit-projets-retenus-par-startup-factory-02-10-2012-161205.php"></a>
                <a onclick="_gaq.push(['_trackEvent', 'INDEX', 'recommend', 'ouestfrance']);" id="ouestfrance" class="last" href="http://www.entreprises.ouest-france.fr/article/nantes-digital-8-entreprises-accompagnees-au-demarrage-03-10-2012-69372"></a>
            </div>
        </div>
    </div>





{% endblock %}


{% block javascript %}

{{parent()}}

<script src="{{ asset('bundles/piggyboxuser/js/vendor/jquery.nivo.slider.pack.js')}}"></script>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>

{% endblock %}
