{% if product.pricetype == 'unit_price' %}
<div class="row-fluid">
    <div class="span12 text-right">
	 	{% for price in product.prices %}
		<form class="form-inline" action="{{path('cart_add_product', {product_id: product.id, price_id : price.id})}}" method="post" {{ form_enctype(form) }}>

			{{form_widget(form.quantity)}}	
			{{ form_widget(form._token) }}
        <button class="btn btn-primary"><i class="icon-plus icon-white"></i> Ajouter</button>
		</form>		
		{% endfor %}
    </div>     		
</div>         

{% elseif product.pricetype == 'slice_price' %}               		

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered pricing">
            <tbody>
            	 <tr>
                     <th class="span2">Découpe <br><small>Pièce</small></th>
               		     <th class="span4">Poids</th>
               		     <th class="span2">Prix</th>
               		     <th class="span2">Prix <br><small>au Kg</small></th>
               		     <th class="span3">Quantité</th>
               		 </tr>
               		
    		   		 {% set product_id = product.id%}
    		   		 	{% for price in product.prices %}
						<form class="form-inline" action="{{path('cart_add_product', {product_id: product_id, price_id : price.id})}}" method="post" {{ form_enctype(form) }}>
							<tr class="text-centered">
								<td>{{price.slicenbr}}</td>
								<td>{{price.totalweight}}</td>
								<td>{{price.price}} €</td>
								<td>{{product.pricekg}} €</td>
								<td>
									{{ form_widget(form.quantity, { 'attr': {'class': 'span12'}}) }}
									<button class="btn btn-primary btn-block"> <i class="icon-plus icon-white"></i> Ajouter</button>
								</td>
							</tr>
							{{ form_widget(form._token) }}
						</form>
    		   		 	{% endfor %}
            </tbody>
        </table>
    </div>     		
</div>

{% else %}

<div class="row-fluid">
    <div class="span12 text-right">
		<form class="form-inline" action="{{path('cart_add_product', {product_id: product.id, price_id : 0})}}" method="post" {{ form_enctype(form) }}>

			{{form_widget(form.quantity)}}	
			{{ form_widget(form._token) }}	
            <button class="btn btn-primary"><i class="icon-plus icon-white"></i> Ajouter</button>
        </form>
    </div>
</div>
{% endif %}
