{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                
                <h1 class="text-centered">Nos commerces sélectionnés</h1>

            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <div id="launch-ribbon" class="text-centered clearfix">
                    <div class="dash-container">
                        <h2>Lancement sur Nantes en octobre 2012
                           <br>Bientôt encore plus de commerces et villes disponibles</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span9">

                <div class="box bottom-marged">
                    <div class="row-fluid">
                        <div class="span4">
                            <a href="{{ path('user_show_shop', {'slug':'boucherie-zola'}) }}">
                                <img src="{{ asset('bundles/piggyboxuser/img/zola.jpg')}}" alt="">
                            </a>

                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Boucherie de Zola</h2>
                            <h4>Une boucherie au coeur du quartier Zola</h4>
                            <div class="row-fluid">
                                <div class="span6">
                                    <p class="small-text">
                                        Stéphane et Myriam ont le plaisir de vous accueillir à Zola depuis 2003.Profitez d'un espace convivial entièrement refait en 2010 et d'un grand parking gratuit.
                                    </p>
                                </div>
                                <div class="span6">
                                    <i class="icon-user"></i> 02 40 46 50 42 <br>
                                    <i class="icon-envelope"></i> zola@boucherdefrance.fr
                                    <address>
                                        <i class="icon-home"></i>   6 place Emile Zola <br>
                                        <i class="icon-"></i>       44100 Nantes
                                    </address>
                                </div>
                            </div>
                            <a href="{{ path('user_show_shop', {'slug':'boucherie-zola'}) }}" class="btn btn-block btn-primary"> <i class="icon-shopping-cart icon-white"></i> Visiter le magasin</a>
                        </div>
                    </div>
                </div>


                <div class="box bottom-marged">

                    <div class="row-fluid">
                        <div class="span4">
                            <a href="{{ path('user_show_shop', {'slug':'boucherie-des-gourmets'}) }}">
                                <img src="{{ asset('bundles/piggyboxuser/img/boucherie-jauneau.jpg')}}" alt="">
                            </a>

                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Boucherie des Gourmets</h2>
                            <h4>Boucherie traditionnelle aux Hauts Pavés</h4>
                            <div class="row-fluid">
                                <div class="span6">
                                    <p class="small-text">
                                        Marie-Noëlle & Bruno vous accueillent au rond point de Vannes depuis 1996 dans une boutique chaleureuse.
                                    </p>
                                </div>
                                <div class="span6">
                                    <i class="icon-user"></i> 02 40 40 85 68 <br>
                                    <i class="icon-envelope"></i> boucherie.jauneau@hotmail.fr
                                    <address>
                                        <i class="icon-home"></i>   136 rue des Hauts Pavés <br>
                                        <i class="icon-"></i>       44000 Nantes
                                    </address>
                                </div>
                            </div>
                            <a class="btn btn-block btn-primary" href="{{ path('user_show_shop', {'slug':'boucherie-des-gourmets'}) }}"> <i class="icon-shopping-cart icon-white"></i> Visiter le magasin</a>
                        </div>
                    </div>
                </div>


                <div class="coming-soon"></div>
                <div class="box bottom-marged box-muted">

                    <div class="row-fluid">
                        <div class="span4">
                            <img src="{{ asset('bundles/piggyboxuser/img/copernic.jpg')}}" alt="">

                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Boucherie Copernic</h2>
                            <h4>Chez mon Boucher rue Copernic</h4>
                            <div class="row-fluid">
                                <div class="span6">
                                    <p class="small-text"><em>Bientôt disponible pour la commande en ligne</em></p>
                                </div>
                                <div class="span6">
                                    <i class="icon-user"></i> 02 40 48 51 17 <br>
                                    <i class="icon-envelope"></i> 
                                    <address>
                                        <i class="icon-home"></i>   1 rue Copernic <br>
                                        <i class="icon-"></i>       44000 Nantes
                                    </address>
                                </div>
                            </div>
                            <a class="btn btn-block"> <i class="icon-shopping-cart"></i> Magasin bientôt en ligne</a>
                        </div>
                    </div>
                </div>


                <div class="coming-soon"></div>
                <div class="box bottom-marged box-muted">

                    <div class="row-fluid">
                        <div class="span4">
                            <img src="{{ asset('bundles/piggyboxuser/img/bouffay.jpg')}}" alt="">

                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Boucherie du Bouffay</h2>
                            <h4>Boucherie officielle du voyage à Nantes</h4>
                            <div class="row-fluid">
                                <div class="span6">
                                    <p class="small-text"><em>Bientôt disponible pour la commande en ligne</em></p>
                                </div>
                                <div class="span6">
                                    <i class="icon-user"></i> 02 40 48 54 08 <br>
                                    <i class="icon-envelope"></i> ange.leduc@sfr.fr
                                    <address>
                                        <i class="icon-home"></i>   3 rue du Bouffay <br>
                                        <i class="icon-"></i>       44000 Nantes
                                    </address>
                                </div>
                            </div>
                            <a class="btn btn-block"> <i class="icon-shopping-cart"></i> Magasin bientôt en ligne</a>
                        </div>
                    </div>
                </div>

{#
                <div class="coming-soon"></div>
                <div class="box bottom-marged box-muted">
                    <div class="row-fluid">
                        <div class="span4">
                            <img src="{{ asset('bundles/piggyboxuser/img/zola.jpg')}}" alt="">

                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Boucherie de Zola</h2>
                            <h4>Une boucherie au coeur du quartier Zola</h4>
                            <div class="row-fluid">
                                <div class="span7">
                                    <p class="small-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                </div>
                                <div class="span5">
                                    <i class="icon-user"></i> 02 40 46 50 42 <br>
                                    <i class="icon-envelope"></i> zola@boucherdefrance.fr
                                    <address>
                                        <i class="icon-home"></i>   6 place emile zola <br>
                                        <i class="icon-"></i>       44100 Nantes
                                    </address>
                                </div>
                            </div>
                            <a class="btn btn-block"> <i class="icon-shopping-cart"></i> Magasin bientôt en ligne</a>
                        </div>
                    </div>
                </div>
#}

            <h3>Et bien d'autres dans les jours à venir...</h3>

            </div>
            <div class="span3">
                <div class="image-category bottom-marged black-bordered">
                    <div class="title-hover hide">Boucheries</div>
                    <img src="{{ asset('bundles/piggyboxuser/img/270px/boucherie.jpg')}}" alt="">
                </div>
                <div class="image-category bottom-marged black-bordered">
                    <div class="title-hover hide">Boulangeries</div>
                    <img src="{{ asset('bundles/piggyboxuser/img/270px/boulangerie.jpg')}}" alt="">
                </div>
                <div class="image-category bottom-marged black-bordered">
                    <div class="title-hover hide">Primeurs</div>
                    <img src="{{ asset('bundles/piggyboxuser/img/270px/primeur.jpg')}}" alt="">
                </div>
                <div class="image-category bottom-marged black-bordered">
                    <div class="title-hover hide">Fromageries</div>
                    <img src="{{ asset('bundles/piggyboxuser/img/270px/fromagerie.jpg')}}" alt="">
                </div>
                <div class="image-category bottom-marged black-bordered">
                    <div class="title-hover hide">Poissonneries</div>
                    <img src="{{ asset('bundles/piggyboxuser/img/270px/poissonnerie.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>


    
{% endblock %}
