{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


    <div class="container">
        <div class="row bottom-marged">
            {#
            <div class="span12">
                <h1 class="text-centered">Où sont vos commerces</h1>
            </div> 
            #}
            <div class="span9">
                {{ google_map_container(map) }}
            </div>
            <div class="span3">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Choisissez votre ville</li>
                        <li class=""><a href="{{ path('shops_nantes') }}">Nantes</a></li>
                        <li class="active"><a href="{{ path('shops_poitiers') }}">Poitiers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">

                <h1 class="text-centered">Nos commerces sélectionnés</h1>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="span6">

                <a onclick="_gaq.push(['_trackEvent', 'SHOWSHOPS', 'go-to', '']);" href="{{ path('user_show_shop', {'shop_slug':''}) }}" class="box bottom-marged">
                    <div class="row-fluid">
                        <div class="shop-thumbnail span4">
                                <img src="{{ asset('bundles/piggyboxuser/img/HERE')}}" alt="">
                        </div>
                        <div class="span8">
                            <h2 class="no-margin">Banette XXX</h2>
                            <h4></h4>
                            <div class="row-fluid">
                                <div class="span12">
                                    <p class="small-text">
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="btn btn-block btn-primary"> <i class="icon-home icon-white"></i> Visiter le magasin</div>
                        </div>
                    </div>
                </a>

            </div>


            <div class="span12">
                <h3>Et bien d'autres dans les jours à venir...</h3>
            </div>


        </div>
    </div>



{% endblock %}

{% block javascript %}
	{{parent()}}
	{{ google_map_js(map) }}
{% endblock %}
