{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


    {% include 'PiggyBoxUserBundle:User:showMap.html.twig' %}


    {% if visitorBigCity != "none" %}

    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">

                <h1 class="text-centered" id="shoppers">Voici les commerces de {{ visitorBigCity }} :</h1>

            </div>
        </div>
    </div>

        <div class="container">
        <div class="row">
            {% 
                for shopper in shoppersDetails 
            %}
                <div class="span6">

                    {% if shopper.comingSoon %} 
                        <div class="ribbon ribbon-coming-soon"></div>
                    {% endif %}

                    {% if shopper.comingSoon == false %} 
                        <a href="{{ path('user_show_shop', {'shop_slug': shopper.slug}) }}" class="box bottom-marged">
                    {% else %}
                        <a href="#" class="box bottom-marged box-muted">
                    {% endif %} 

                            <div class="row-fluid">
                                <div class="shop-thumbnail span4">
                                        <img src="{{ asset('bundles/piggyboxuser/img/') ~ shopper.img[0]}}" alt="">
                                </div>
                                <div class="span8">
                                    <h2 class="no-margin">{{ shopper.name }}</h2>
                                    <h4>{{ shopper.slogan }}</h4>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <p class="small-text">
                                                {{ shopper.description }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="btn btn-block btn-primary">
                                        <i class="icon-home icon-white"></i> 
                                        {% if shopper.comingSoon %}
                                            Magasin bientôt en ligne
                                        {% else %}
                                            Visiter le magasin
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>

                </div>

                {% if loop.index is even %}
                    <div class="clear"></div>
                {% endif %}

            {% endfor %}

            <div class="span8 offset4">
                <h3>D'autres commerces seront disponibles très bientôt...</h3>
            </div>


        </div>
    </div>
</div>
{% endif %}



{% endblock %}

{% block javascript %}

{{parent()}}

{{ google_map_js(map) }}

<script type="text/javascript">
	_kmq.push(['record', 'Viewed Rechercher des commerçants Page']);
</script>

{% endblock %}
