{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container bottom-marged">
            <div class="row">

                <div id="" class="span8">

                    {% include 'PiggyBoxUserBundle:User:tab-slider.html.twig' with {'shop': shop} %}

                </div>

                <div class="sidebar span4">

                    {% include 'PiggyBoxUserBundle:User:tab-shop-infos.html.twig' with {'shop': shop} %}

                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div id="content" class="span12">

                    <div id="entry-container">
                        <div id="entry-nav">
                            <ul class="nav nav-tabs">
                                <li class="active">
								<a onclick="_gaq.push(['_trackEvent', 'SHOP', 'produits-a-commander', {{shop.slug}}]);" href="#shop" data-toggle="tab">Produits à commander</a>
                                </li>
                                <li class="">
								<a onclick="_gaq.push(['_trackEvent', 'SHOP', 'fiche-pratique', {{shop.slug}}]);" href="#fiche" data-toggle="tab">Fiche Pratique</a>
                                </li>
                                <li class="disabled">
                                    <div class="coming-soon-small"></div>
                                    <a data-toggle="">Avis</a>
                                </li>
								<li><a onclick="_gaq.push(['_trackEvent', 'SHOP', 'photos', {{shop.slug}}]);" href="#photos" data-toggle="tab">Photos</a></li>
                            </ul>
                        </div>

                        <div id="entry-content" class="row-fluid">

                            <div class="span3">
                                {% include 'PiggyBoxUserBundle:User:tab-categories.html.twig' with {'shop': shop} %}
                            </div>

                            <div class="span9">
                                <div id="" class="tab-content">

                                    <div id="fiche" class="tab-pane">
										{% include 'PiggyBoxUserBundle:User:tab-fiche.html.twig' with {'shop': shop} %}
                                    </div>

                                    <div id="shop" class="tab-pane active">
										{{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}
                                        <div class="product-list">
											{% if app.request.attributes.get('_route') == 'view_product_details' %}
												{% form_theme form[product.id] 'PiggyBoxUserBundle:Form:fields.html.twig' %}


                                                {% include 'PiggyBoxUserBundle:User:tab-product-details.html.twig' with {'shop': shop, 'product': product, 'form': form} %}

											{% elseif app.request.attributes.get('_route') == 'user_show_menus' %}
											{% form_theme form _self %}

                                            	{% include 'PiggyBoxUserBundle:User:tab-menu-detail.html.twig' with {'shop': shop} %}

											{% elseif category_slug == 'menus' %}
                                            	{% include 'PiggyBoxUserBundle:User:tab-menus.html.twig' with {'shop': shop} %}

											{% else %}
                                            	{% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'shop': shop, 'products': products} %}
											{% endif %}
                                        </div>
                                    </div>

                                    <div id="photos" class="tab-pane">
                                        {% include 'PiggyBoxUserBundle:User:tab-photo.html.twig' with {'shop': shop} %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div><!-- /row -->
        </div> <!-- /container -->


{% endblock %}

{% block javascript %}
{{parent()}}

        <script src="{{ asset('bundles/piggyboxuser/js/productDetails.js')}}"></script>
        <script src="{{ asset('bundles/piggyboxuser/js/tab-products.js')}}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('li#{{category_slug}}').addClass('active');
            });
        </script>

<script type="text/javascript">
	$(document).ready(function() {
		$('span#quantity').click(function() {
			alert("cool");
		});
	}
</script>

{% endblock %}
