{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}
<h1>Product list</h1>

<table class="records_list">
    <thead>
        <tr>
			<th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price_kg</th>
			<th>Prix</th>
			<th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
			<td><img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt=""></td>			
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.pricekg }}</td>
			<td>
				<form action="{{ path('order_add_product')}}">
					{% for price in product.prices %}
						<input type="radio" name="sex" value="{{price.price}}" />{{price.price}}<br />
					{% endfor %}
					<input type="hidden" name="id" value="{{product.id}}">											
				<button type="submit" href="" class="btn btn-info btn-large"><i class="icon icon-plus icon-white"></i> Ajouter</button>
					
				</form>
			</td>
			<td>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

				<section id="shopping-cart" class="span4">
					<div class="well">

						<h2>
							Votre panier
						</h2>

						<br /><br />

						<a class="btn btn-success pull-right"><i class="icon icon-hand-right icon-white"></i> Finir la commande</a>

						<br /><br />


					</div>


					<div id="favorite">
						<br />
						<h2>
							<img src="{{ asset('bundles/piggyboxconsumer/img/keditbookmarks.png') }}"  width="38" />
							Vos articles favoris
						</h2>

						<br />

						<ul class="nav nav-tabs nav-stacked">
							<li><a href="#">Roti de veau</a></li>
							<li><a href="#">Roti de veau</a></li>
							<li><a href="#">Roti de veau</a></li>
							<li><a href="#">Roti de veau</a></li>
							<li><a href="#">Roti de veau</a></li>
						</ul>

					</div>

				</section>
{% endblock %}
