{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}
<h1>Product list</h1>

<table class="records_list">
    <thead>
        <tr>
			<th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price_kg</th>
			<th>Prix</th>
			<th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
			<td><img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt=""></td>			
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.pricekg }}</td>
			<td>
				<form action="{{ path('order_add_product')}}">
					{% for price in product.prices %}
						<input type="radio" name="price_id" value="{{price.id}}" />{{price.price}}<br />
					{% endfor %}
					<input type="hidden" name="id" value="{{product.id}}">											
				<button type="submit" href="" class="btn btn-info btn-large"><i class="icon icon-plus icon-white"></i> Ajouter</button>
					
				</form>
			</td>
			<td>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

				<section id="shopping-cart" class="span4">
					<div class="well">

						<h2>
							<img src="{{ asset('bundles/piggyboxconsumer/img/shopping_cart.png') }}" width="38">
							Votre panier
						</h2>

						<br /><br />

						{% set order_details  = piggybox_order_get() %}

						<table class="table">

							{% for order_detail in order_details %}
							<tr>
								<td>{{ order_detail.product.name }}</td>
								<td>{{ order_detail.price.price}}</td>
							</tr>
							{% endfor %}
						</table>

						<br /><br />

							<a href="{{ path('validate_order') }}">Valider le panier</td>

						<br /><br />


					</div>

{% endblock %}
