<div class="row-fluid">

	<div class="span3">
		<ul class="nav nav-list">
			{% for category in categories %}
				<li {% if category.level == 0 %}class="nav-header"{% endif %}><a href="#">{{category.title}}</a></li>
			{% endfor %}
		</ul>
	</div>


	<div class="span9">

   	{% for product in products %}
		<img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt="" class="">
		<div>
			<div>{{product.pricekg}} €<sub>/Kg</sub></div>
			<div class="pull-right">{{product.minprice}} €</div>
			<h3 class="no-margin">{{product.name}}</h3>
			<p>{{product.description}}</p>
			
			<div class="details">
            </div>

			<div class="btn btn-small details-toggler" data-load-more="{{ path('view_product', {product_id: product.id, _format: 'json'}) }}">
				<i class="icon-eye-open"></i> Voir le détail
			</div>
		</div>

		<hr />
	{% endfor %}

   </div>

</div>

