
{% for product in products %}

	<div class="product-item
				box 
				box-light
				text-centered
				{% if loop.index is divisibleby(3) %}product-item-last{% endif %}
				tous 
				{{product.category.slug}} 
				{% if product.category.level > 0 %}{{product.category.parent.slug}}{% endif %}">
		
		<div class="product-infos">

			<div class="product-details">
					<h4 class="product-name">
						{{product.name}}
					</h4>
			</div>
			
			<div class="product-thumbnail">
				<img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt="" class="">
			</div>


		</div>

		<div class="product-toolbar row-fluid">
			
			<div class="product-price span6">
				{{product.minprice}} €
			</div>

			<div class="span6">
				<a href="#" class="btn-mini">Voir en détail</a>
			</div>

			<div class="span12">
				<span class="btn btn-mini left"><i class="icon-minus"></i></span>
				<input type="text" class="inline-quatity">
				<span class="btn btn-mini right"><i class="icon-plus"></i></span>
				<a href="" class="btn btn-mini">Ajouter</a>
			</div>
		</div>

	</div>


{% endfor %}
