<div id="sidebar" class="span4">
    <div id="sidebar-content">
        
        <div id="shop-infos" class="">
            <h1>Boucherie de Zola</h1>

            <div id="shop-details" class="row-fluid">

                <div class="span10">
                    <div><i class="icon-user"></i> 02.40.46.50.42</div>
                    <div><i class="icon-envelope"></i> zola@boucherdefrance.fr</div>
                    <div><i class="icon-home"></i> 6 place Emile Zola 44120 Nantes</div>

                    <img src="{{ asset('bundles/piggyboxuser/img/openings.png')}}" alt="">
                </div>

                <div class="span2">
                    <div class="logos">
                        <img src="{{ asset('bundles/piggyboxuser/img/logos/new_parking_logo.jpg')}}" alt="">
                        <img src="{{ asset('bundles/piggyboxuser/img/logos/new_cb_logo.jpg')}}" alt="">
                        <img src="{{ asset('bundles/piggyboxuser/img/logos/new_cheque_resto_logo.jpg')}}" alt="">
                    </div>
                </div>

            </div>

        </div>

        
        {% set orders  = piggybox_orders_get() %}
		<div id="user-cart" class="">
			<h2>Panier</h2>

			{% for order in orders %}	

			<h2>{{order.shop.name}}</h2>
                <table class="table">
                    <tr>
                        <td>Produit</td>
                        <td>Qté</td>
                        <td>Prix</td>
                    </tr>

                {% for order_detail in order.orderdetail %} 
                    <tr>
                        <td>{{ order_detail.product.name }}</td>
                        <td>{{ order_detail.price.price}}</td>
                        <td>4</td>
                    </tr>
                {% endfor %}

                </table>	

            {% endfor %}

		</div>

    </div>
</div>

