
{% for product in products %}

	<div class="product-item
					{% if loop.index is divisibleby(3) %}product-item-last{% endif %}
					tous 
					{{product.category.slug}} 
					{% if product.category.level > 0 %}{{product.category.parent.slug}}{% endif %}">
		
		<div class="product-infos">

			<div class="product-thumbnail">
				<img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt="" class="">
			</div>

			<div class="product-details">

					<h4 class="product-name">{{product.name}}</h4>
					<div id="product-price" class="">
						{{product.minprice}} €
					</div>
			</div>

		</div>

		<div class="btn">
			<i class="icon-plus"></i> Ajouter
		</div>

	</div>

{% if loop.index is divisibleby(3) %}
	<hr class="clear" />
{% endif %}

{% endfor %}
