{% for product in products %}

   		<div class="product-item Tous {{product.category.title}} {% if product.category.level > 0 %}{{product.category.parent.title}}{% endif %}">
			<div class="row-fluid product-infos">

				<div class="span4">
					<img src="{{product.getWebPath | apply_filter('my_thumb') }}" alt="" class="">
				</div>

				<div id="product-details" class="span8">
					<div class="row-fluid">
						<div class=" span8">
							<h3 class="no-margin">{{product.name}}</h3>
							{{product.description}}
			            </div>

						<div id="prices" class="span4 text-right">
							<span class="primary-price">{{product.minprice}} €</span> <br />
							<span class="secondary-price">{{product.pricekg}} €<sub>/Kg</sub></span>
						</div>
					</div>
				</div>

			</div>


			<div class="row-fluid product-toolbar">

				<div class="span12">
					<div class="details"></div>
					<div class="btn btn-primary details-toggler pull-right" data-load-more="{{ path('view_product', {product_id: product.id, _format: 'json'}) }}">
						<i class="icon-shopping-cart icon-white"></i> Commandez
					</div>
				</div>

			</div>

			<div class="clear"></div>

			<hr />

		</div>

	{% endfor %}