
<div class="clearfix">

{% for product in products %}

	<div class="product-item
				box
				box-light
				text-centered
				{% if loop.index is divisibleby(3) %}product-item-last{% endif %}
				tous
				{{product.category.slug}}
				{% if product.category.level > 0 %}{{product.category.parent.slug}}{% endif %}">
	{# <div class="ribbon ribbon-promotion"></div> #}

		<div class="product-infos">

			<div class="product-details">
					<div class="product-name">
						<h4>{{product.name}}</h4>
					</div>
			</div>

			<div class="product-thumbnail">
				<a onclick="_gaq.push(['_trackEvent', 'PRODUIT', 'view-product-details', {{ path('view_product_details', {'shop_slug': product.shop.slug, 'category_slug': product.category.slug, 'product_slug': product.slug}) }}]);" href="{{ path('view_product_details', {'shop_slug': product.shop.slug, 'category_slug': product.category.slug, 'product_slug': product.slug}) }}" class="img160x160">
					{% if product.hasImage %}
						<img src="{{product.getWebPath | apply_filter('my_thumb') }}"
						alt="{{product.name}}" title="{{product.name}}" >
					{% endif %}
				</a>
			</div>


		</div>

		<div class="product-toolbar row-fluid">

			<div class="product-price span6">
				{{product.price|number_format(2, ',', ' ')}} €
			</div>

			<div class="span6">
				<a onclick="_gaq.push(['_trackEvent', 'PRODUIT', 'view-product-details', {{ path('view_product_details', {'shop_slug': product.shop.slug, 'category_slug': product.category.slug, 'product_slug': product.slug}) }}]);" href="{{ path('view_product_details', {'shop_slug': product.shop.slug, 'category_slug': product.category.slug, 'product_slug': product.slug}) }}" class="btn-mini">Voir en détail</a>
			</div>

			<div class="span12">
				<form id="checkout" action="{{ path('cart_add_product', {'product_id': product.id}) }}" method="post" {{form_enctype(form[product.id])}}>
					{% if product.priceType == 'chunk_price' %}
						{{ form_widget(form[product.id].quantity, { 'attr': {'class': 'inline-quantity-person'} }) }}
					{% else %}
						<div id="quantity-minus" class="btn btn-mini left minus"><i class="icon-minus"></i></div>
						{{ form_widget(form[product.id].quantity, { 'attr': {'class': 'inline-quantity'} }) }}
						<div id="quantity-plus" class="btn btn-mini right plus"><i class="icon-plus"></i></div>
					{% endif %}
					<button class="btn btn-mini">Ajouter</button>
					{{ form_widget(form[product.id]._token) }}
				</form>
			</div>
		</div>

	</div>

{% if loop.index is divisibleby(3) %}
	</div><div class="clearfix">
{% endif %}

{% endfor %}

</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Vous venez d’ajouter à votre panier :</h3>
  </div>
  <div class="modal-body row-fluid"></div>
  <div class="modal-footer clearfix">
    <button class="btn btn-small pull-left" data-dismiss="modal" aria-hidden="true">Continuer le shopping</button>
	<a onclick="_gaq.push(['_trackEvent', 'PRODUIT', 'afficher-panier-modal', 'modal']);" href="{{ path('view_order') }}" class="btn btn-primary">Afficher le panier</a>
  </div>
</div>
