

        {% set orders  = piggybox_orders_get() %}
        <div id="user-cart" class="clearfix">
            {# <div class="corner-top pull-left"></div>
            <div class="clear"></div>
            <div class="corner-left pull-left"></div> #}

            <div class="user-cart-content">
                <h1>Panier</h1>

                {% for order in orders %}

                 <h3>{{order.shop.name}}</h3>
                    <table class="table pricing">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th class="text-right">Qté</th>
                                <th class="text-right">Prix</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for order_detail in order.orderdetail %}
                            <tr>
                                <td>{{ order_detail.product.name }}</td>
                                <td class="text-right">{{order_detail.quantity}}{% if order_detail.product.pricetype == 'weight_price'%}00g{% endif %}</td>
                                    {% if order_detail.price|length > 0%}
                                        <td class="text-right">{{ order_detail.price.price}} €</td>
                                    {% else %}
                                        <td class="text-right">{{order_detail.product.pricekg}} €</td>
                                    {% endif %}
                                <td class="text-right"><a href="{{ path('cart_remove_product', {'order_detail_id' : order_detail.id}) }}">X</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr class="ttc-price">
                                <td colspan="2">Total TTC</td>
                                <td>{{order.totalprice}} €</td>
                            </tr>
                        </tfoot>

                    </table>

                    <div class="text-centered">
                        <a href="{{ path('validation_page')}}" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> Finaliser la commande</a>
                    </div>

                {% endfor %}
            </div>

            {# <div class="corner-right pull-right"></div>
            <div class="clear"></div>
            <div class="corner-bottom pull-right"></div> #}
        </div>
