<div class="product-item
            product-item-single {# HERE #}
            row-fluid
			box
			box-light
			tous
			boeuf
			viandes">

    <div class="span5">

        <div class="product-thumbnail">
			<img src="{{product.getWebPath | apply_filter('huge_thumb') }}" alt="" class="img300x300">
        </div>

    </div>

    <div class="span7">

		<div class="product-infos">

            <div class="product-name">
				<h1 class="text-centered">{{product.name}}</h1>
            </div>

			<div class="product-details row-fluid bottom-marged">
                <div class="product-line span6">
					{% if  product.productWeightPerSlice is not null%}
						Environ {{product.productWeightPerSlice}}g par pièce
					{% endif %}
                </div>
                <div class="product-price text-right span6">
					<span class="kilo-price">{{product.weightPrice}} € /Kg</span>
                    &nbsp;&nbsp;&nbsp;
					<span class="primary-price">{{product.price}} €</span>
                </div>
			</div>

		</div>

        <div class="product-content">

            <div class="product-description">
                <p>{{product.description}}</p>
            </div>

			{% if product.origin is not null %}
				<div class="product-origin">
					<h4>Origine</h4>
					<i class="icon-flag-fr"></i>{{product.origin}}</div>
			{% endif %}

			{% if product.origin is not null %}
				<div class="product-conservation">
					<h4>Conservation</h4>
					<p>{{product.preservation}}</p>
				</div>
			{% endif %}

        </div>



    </div>


	{% if  product.priceType == 'unit_fixed_price' %}
    <div class="product-toolbar text-centered span6 offset3">
        <form action="" class="form-inline">

            <table class="table pricing">
                <tr>
                    <td class="select-quantity">
                        <span class="btn left"><i class="icon-minus"></i></span>
                        <input type="text" class="inline-quantity">
                        <span class="btn right"><i class="icon-plus"></i></span>
                    </td>

                    <td class="select-add">
                        <a href="" class="btn">Ajouter</a>
                    </td>
                </tr>
            </table>

        </form>
    </div>
	{% elseif product.priceType == 'unit_variable_price' %}
    <div class="product-toolbar text-centered span9 offset1">
        <form action="" class="form-inline">

            <table class="table pricing">
                <tr>
                    <td class="select-quantity">
                        <span class="btn left"><i class="icon-minus"></i></span>
                        <input type="text" class="inline-quantity">
                        <span class="btn right"><i class="icon-plus"></i></span>
                    </td>

                    <td class="select-size">
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                            <i class="icon-meat24"></i> <span>Bon mangeur</span>
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" checked>
                            <i class="icon-meat16"></i> <span>Normal</span>
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3">
                            <i class="icon-meat12"></i> <span>Petite faim</span>
                        </label>
                    </td>

                    <td class="select-add">
                        <a href="" class="btn">Ajouter</a>
                    </td>
                </tr>
            </table>

        </form>
    </div>
	{% else %}
    <div class="product-toolbar text-centered span9 offset1">
        <form action="" class="form-inline">

            <table class="table pricing">
                <tr>
                    <td class="select-quantity">
                        <span class="btn left"><i class="icon-minus"></i></span>
                        <input type="text" class="inline-quantity inline-quantity-person" value="1 pers.">
                        <span class="btn right"><i class="icon-plus"></i></span>
                    </td>

                    <td class="select-size">
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                            <i class="icon-meat24"></i> <span>Bon mangeur</span>
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" checked>
                            <i class="icon-meat16"></i> <span>Normal</span>
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3">
                            <i class="icon-meat12"></i> <span>Petite faim</span>
                        </label>
                    </td>

                    <td class="select-add">
                        <a href="" class="btn">Ajouter</a>
                    </td>
                </tr>
            </table>

        </form>
    </div>
	{% endif %}
</div>

{% if similar_products|length > 0 %}

<h1 class="text-centered">Produits similaires</h1>

    <div class="clearfix">
	   {% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'shop': shop, 'products': similar_products} %}
    </div>

{% endif %}

{% if random_products|length > 0 %}

<h1 class="text-centered">Produits au hasard</h1>

    <div class="clearfix">
	   {% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'shop': shop, 'products': random_products} %}
    </div>

{% endif %}
