
	<div class="big-quote bottom-marged">
        <blockquote class="homepage">
            <img src="{{ asset('bundles/piggyboxuser/img/quotes-open.png')}}" alt="" class="pull-left quotes-open">
            <img src="{{ asset('bundles/piggyboxuser/img/quotes-close.png')}}" alt="" class="pull-right quotes-close">
            <p class="text-centered">
                La Charte Qualité : l'engagement du professionnel, la satisfaction du client !
            </p>
        </blockquote>
	</div>

	<h2>Charte Qualité</h2>

	<p>Côtelettes & tarte aux fraises encourage les entreprises volontaires à s’améliorer grâce à des méthodes et décision cohérentes et progressives. Nous les engageons à toujours mieux satisfaire leur clientèle.</p>

	<p>3 mots-clés communs à tous nos partenaires commerçants:</p>

	<div class="row-fluid text-centered">
		<div class="span4">
			<h3>Confiance</h3>
		</div>
		<div class="span4">
			<h3>Performance</h3>
		</div>
		<div class="span4">
			<h3>Excellence</h3>
		</div>
	</div>

	<p>Une méthode de séléction rigoureuse.</p>

	<img src="{{ asset('bundles/piggyboxuser/img/selection-steps.jpg')}}" alt="">




	<h2>Qu’est-ce que la qualité ?</h2>

	<p>Le mot «qualité» est de plus en plus utilisé dans les entreprises, les institutions et par le grand public, mais il reste encore trop souvent un concept abstrait.</p>
	
	<p>Si l’on se réfère à la norme ISO 9000:2000, la Qualité peut se définir comme l’« aptitude d'un ensemble de caractéristiques intrinsèques à satisfaire des exigences ».</p>

	<p>L'un des principes de base de la qualité est la prévention et l'amélioration permanente aussi appelée amélioration continue. Il s'agit donc de trouver le juste équilibre permettant d'éliminer au maximum les coûts liés à la non-qualité, afin d'obtenir une satisfaction client élevée et des bénéfices satisfaisants, tout en y consacrant un budget raisonnable et un temps limité.</p>

	<p>L'amélioration de la qualité permet à l'entreprise de travailler dans de meilleures conditions ce qui se traduit par une relation de confiance renforcée, des gains financiers (fidélisation de la clientèle, augmentation du chiffre d’affaires et des bénéfices…) et des gains humains (clarification des rôles, motivation du personnel…). Il s'agit d'une démarche participative, à laquelle doit être associé l'ensemble du personnel et par conséquent être nécessairement portée par le chef d’entreprise.</p>


	<h2>Charte sur la vie privée</h2>

	<p>La collecte des données à caractère personnel ne permet pas de faire apparaître, directement ou indirectement, les origines ethniques, les opinions politiques, philosophiques ou religieuses ou l’appartenance syndicale des personnes, ni des données relatives à la santé ou à la vie sexuelle de celles-ci.</p>

	<p>Les données concernant l’utilisateur sont collectées et traitées de manière loyale et licite pour des finalités déterminées, explicites et légitimes, sans être traitées ultérieurement de manière incompatible avec ces finalités, sous une forme permettant l’identification des personnes concernées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées.</p>

	<p>Les données à caractère personnel ne font l’objet d’opérations de traitement par un sous-traitant ou une personne agissant sous l’autorité du responsable du traitement ou de celle du sous-traitant, que sur instruction du responsable du traitement au sein de la société « The Box Makers SAS » pour le compte de « Cotelettes & Tarte aux fraises ».</p>


	<div class="big-quote bottom-marged">
        <blockquote class="homepage">
            <img src="{{ asset('bundles/piggyboxuser/img/quotes-open.png')}}" alt="" class="pull-left quotes-open">
            <img src="{{ asset('bundles/piggyboxuser/img/quotes-close.png')}}" alt="" class="pull-right quotes-close">
            <p class="text-centered">
                Nous considérons la Charte Qualité comme un réel atout que nous utilisons pour nous démarquer de nos concurrents.
            </p>
        </blockquote>
	</div>