                    <div id="photo-slider">
                        <div id="shopCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% if (shop.slug == 'boucherie-zola') %}
                                    {% for count in range(1, 6) %}
                                    <div class="item {% if count == 1 %}active{%endif%}">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boutique-" ~ count ~ ".jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'boucherie-des-gourmets') %}
                                    <div class="item active">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-gourmets-jauneau-charcuterie.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-des-gourmets-jauneau.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-des-gourmets.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-preparation.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucher-jauneau.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/sarl-bruno-jauneau-boucherie.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-gourmets-jauneau.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                    <div class="item">
                                        {% set path = "bundles/piggyboxuser/img/carousel/boucherie-des-gourmets/boucherie-gourmets-cuisine.jpg" %}
                                        <img src="{{ asset(path) }}" alt="">
                                    </div>
                                {% elseif (shop.slug == 'boucherie-copernic') %}
                                    {% for count in range(1, 7) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/copernic/boucherie-nantes-copernic-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'le-boulanger-de-zola') %}
                                    {% for count in range(1, 6) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/leboulangerdezola/leboulangerdezola" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'banette-buxerolles') %}
                                    {% for count in range(1, 7) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/banette-buxerolles/banette-buxerolles-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path)}}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'banette-grand-large') %}
                                    {% for count in range(1, 5) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/banette-st-benoit/banette-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'banette-la-mimine') %}
                                    {% for count in range(1, 7) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/la-mimine/banette-la-mimine-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'banette-la-garenne') %}
                                    {% for count in range(1, 7) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/poitiers-sud/banette-la-garenne-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% elseif (shop.slug == 'banette-futuroscope') %}
                                    {% for count in range(1, 7) %}
                                        <div class="item">
                                            {% set path = "bundles/piggyboxuser/img/carousel/banette-futuroscope/banette-futuroscope-" ~ count ~ ".jpg" %}
                                            <img src="{{ asset(path) }}" alt="">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#shopCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#shopCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
