<div class="product-item
            product-item-single {# HERE #}
            row-fluid
			box
			box-light
			tous
			boeuf
			viandes">

    <div class="span5">

        <div class="product-thumbnail">
			<div class="img300x300">
				{% if product.hasImage %}
					<img src="{{product.getWebPath | apply_filter('huge_thumb') }}"
					alt="{{product.name}}" title="{{product.name}}" >
				{% endif %}
			</div>
        </div>

    </div>

    <div class="span7">

		<div class="product-infos">

            <div class="product-name">
				<h1 class="text-centered">{{product.name}}</h1>
            </div>

			<div class="product-details row-fluid bottom-marged">
                <div class="product-line span6">
					{% if  product.productWeightPerSlice is not null%}
						Environ {{product.productWeightPerSlice}}g par pièce
					{% endif %}
                </div>
                <div class="product-price text-right span6">
					<span class="kilo-price">{{product.weightPrice}} € /Kg</span>
                    &nbsp;&nbsp;&nbsp;
					<span class="primary-price">{{product.price}} €</span>
                </div>
			</div>

		</div>

        <div class="product-content">

            <div class="product-description">
                <p>{{product.description}}</p>
            </div>

			{% if product.origin is not null %}
				<div class="product-origin">
					<h4>Origine</h4>
					<i class="icon-flag-fr"></i>{{product.origin}}</div>
			{% endif %}

			{% if product.preservation is not null %}
				<div class="product-conservation">
					<h4>Conservation</h4>
					<p>{{product.preservation}}</p>
				</div>
			{% endif %}

        </div>



    </div>


	{% if  product.priceType == 'unit_fixed_price' %}

	    <div class="product-toolbar text-centered span6 offset3">
			<form class="form-inline" id="checkout" action="{{ path('cart_add_product', {'product_id': product.id}) }}" method="post" {{form_enctype(form[product.id])}}>

	            <table class="table pricing pricing-fixed-unit-price">
	                <tr>
	                    <td class="select-quantity">
							<div id="quantity-minus" class="btn btn-mini left minus"><i class="icon-minus"></i></div>
							{{ form_widget(form[product.id].quantity, { 'attr': {'class': 'inline-quantity'} }) }}
							<div id="quantity-plus" class="btn btn-mini right plus"><i class="icon-plus"></i></div>
	                    </td>

	                    <td class="select-add">
							<button class="btn btn-mini">Ajouter</button>
							{{ form_widget(form[product.id]._token) }}
	                    </td>
	                </tr>
	            </table>

	        </form>
	    </div>

	{% elseif product.priceType == 'unit_variable_price' %}

	    <div class="product-toolbar text-centered span9 offset1">
			<form class="form-inline" id="checkout" action="{{ path('cart_add_product', {'product_id': product.id}) }}" method="post" {{form_enctype(form[product.id])}}>
				<table class="table pricing pricing-variable-unit-price">
					<tbody>
						<tr>
							<td class="select-quantity">
								<div id="quantity-minus" class="btn btn-mini left minus"><i class="icon-minus"></i></div>
								{{ form_widget(form[product.id].quantity, { 'attr': {'class': 'inline-quantity'} }) }}
								<div id="quantity-plus" class="btn btn-mini right plus"><i class="icon-plus"></i></div>
							</td>

							<td class="select-size">
								{{ form_widget(form[product.id].quantityDetail) }}
							</td>

							<td class="select-add">
								<button class="btn btn-mini">Ajouter</button>
								{{ form_widget(form[product.id]._token) }}
							</td>
						</tr>
					</tbody>
				</table>
			</form>
	    </div>

	{% else %}

	    <div class="product-toolbar text-centered span6 offset3">
			<form class="form-inline" id="checkout" action="{{ path('cart_add_product', {'product_id': product.id}) }}" method="post" {{form_enctype(form[product.id])}}>

	            <table class="table pricing pricing-chunk-price">
	                <tr>
	                    <td class="select-quantity">
							{{ form_widget(form[product.id].quantity, { 'attr': {'class': 'inline-quantity-person'} }) }}
	                    </td>

	                    <td class="select-add">
							<button class="btn btn-mini">Ajouter</button>
							{{ form_widget(form[product.id]._token) }}
	                    </td>
	                </tr>
	            </table>

	        </form>
		</div>

	{% endif %}


</div>

{% if similar_products|length > 0 %}

<h1 class="text-centered">Produits similaires</h1>

    <div class="clearfix">
	   {% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'shop': shop, 'products': similar_products} %}
    </div>

{% endif %}

{% if random_products|length > 0 %}

<h1 class="text-centered">Produits au hasard</h1>

    <div class="clearfix">
	   {% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'shop': shop, 'products': random_products} %}
    </div>

{% endif %}
