<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_change_password">
{{ form_errors(form) }}

  <div class="control-group {{ form_errors(form.current_password)|length > 0 ? 'error' : '' }}">
    <label class="control-label" for="inputPassword">Ancien mot de passe</label>
    <div class="controls">
      {{form_widget(form.current_password, {'attr': {'class': 'input-xlarge'} })}}
      {{ form_errors(form.current_password) }}
    </div>
  </div>

  <div class="control-group {{ form_errors(form.plainPassword.first)|length > 0 ? 'error' : '' }}">
    <label class="control-label" for="inputPassword">Choisissez votre mot de passe</label>
    <div class="controls">
      {{form_widget(form.plainPassword.first, {'attr': {'class': 'input-xlarge'} })}}
      {{ form_errors(form.plainPassword.first) }}
    </div>
  </div>

  <div class="control-group {{ form_errors(form.plainPassword.first)|length > 0 ? 'error' : '' }}">
    <label class="control-label" for="inputPassword">Confirmez votre mot de passe</label>
    <div class="controls">
      {{form_widget(form.plainPassword.second, {'attr': {'class': 'input-xlarge'} })}}
      {{ form_errors(form.plainPassword.first) }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <div class="row-fluid input-xlarge">
            <input type="submit" class="btn btn-primary span9 offset2" value="Changer mon mot de passe" />
        </div>
    </div>
  </div>

{{ form_rest(form)}}
</form>
