{% extends 'PiggyBoxShopBundle::layout.html.twig'%}
{% block body%}

{% include 'PiggyBoxShopBundle:Product:product_sub_header.html.twig' %}
<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Produits disponibles dans votre boutique en ligne</h1>
	</div>

	<ul class="nav nav-pills nav-pills-large">
		<li {% if flag == 0 %}class="active"{% endif %}><a href="{{ path('monmagasin_mesproduits', {'category_id': 0}) }}">Tous</a></li>
		{% for category in categories %}
			<li {% if flag == category.id %}class="active"{% endif %}><a href="{{ path('monmagasin_mesproduits', {'category_id': category.id}) }}">{{category.title}}</a></li>
		{% endfor %}
	</ul>

		{% for product in products %}
		<div class="box box-margined {% if product.active == 0 %}box-muted{% endif %}">
		    <div class="row-fluid">

		    	<div class="span3">
					<a href="{{ path('monmagasin_mesproduits_edit', {'id': product.id})}}" class="img160x160">
						{% if product.hasImage %}
							<img src="{{product.getWebPath | apply_filter('my_thumb') }}"
							alt="{{product.name}}" title="{{product.name}}" >
						{% endif %}
					</a>
		    	</div>

				<div class="entry-description span9">
					<div class="row-fluid">
						<div class="span8">
							<h3 class="no-margin">{{product.name|escape}}</h3>
							<div>{{product.description}}</div>
						</div>
						<div class="span2 text-centered">
							<h4>Prix U</h4>
							{% if product.price == 0 %}
								N/A
							{% else %}
								{{ product.price }} €
							{% endif %}
						</div>
						<div class="span2 text-centered">
							<h4>Prix KG</h4>
							{{ product.weightPrice }} €
						</div>
					</div>

					<hr>

					<a href="{{ path('monmagasin_mesproduits_edit', {'id': product.id})}}" class="btn btn-large btn-primary">
						<i class="icon-wrench icon-white"></i> Modifier
					</a>

					<a href="{{ path('monmagasin_mesproduits_promotion_edit', {'id': product.id})}}" class="btn"><i class="icon-gift"></i> Faire une promo</a>

					{% if product.active == true %}
						<a href="{{path('monmagasin_mesproduits_activate', {'id': product.id})}}" class="btn pull-right">
							<i class="icon-eject"></i> Indisponible
						</a>
					{% else %}
					<a href="{{path('monmagasin_mesproduits_activate', {'id': product.id})}}" class="btn btn-success pull-right">
							<i class="icon-ok"></i> Activer
						</a>
					{% endif %}
				</div>

		    </div>
		</div>
		{% endfor %}


    </div>
</div>

{% endblock %}
