{% extends 'PiggyBoxShopBundle::layout.html.twig'%}


{% block body%}

{% include 'PiggyBoxShopBundle:Product:product_sub_header.html.twig' %}

<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Nouveau Produit</h1>
	</div>


	<form action="{{ path('monmagasin_mesproduits_create') }}" method="post" {{form_enctype(form)}} class="form-horizontal form-slider-container" data-errors="">
    {{ form_errors(form) }}

		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span4">
		    		<img src="" class="img240x240">
		    	</div>

				<div class="span8">

					<div class="wrapper">


						<div id="navigation" style="display:none;">
					        <ul>
					            <li class="selected">
					                <a href="#">Détails</a>
					            </li>
					            <li>
					                <a href="#">Images & Catégorie</a>
					            </li>
					            <li>
					                <a href="#">Tarification</a>
					            </li>
					        </ul>
					    </div>


						<div id="steps">

							<fieldset class="step">
								<div class="control-group">
									<label class="control-label" for="">Nom du produit</label>
									<div class="controls">
										{{ form_widget(form.name, { 'attr': {'class': 'span12','placeholder':'Nom du produit...'} }) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="">Description</label>
									<div class="controls">
										{{ form_widget(form.description, { 'attr': {'class': 'span12'} }) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="">Origine</label>
									<div class="controls">
										{{ form_widget(form.origin, { 'attr': {'class': 'span12'} }) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="">Conservation</label>
									<div class="controls">
										{{ form_widget(form.preservation, { 'attr': {'class': 'span12'} }) }}
									</div>
								</div>
							</fieldset>

							<fieldset class="step">
								<div class="control-group">
									<label class="control-label" for="">Changer la photo</label>
									<div class="controls">
										{{ form_widget(form.file, { 'attr': {'class': 'span12'} }) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="">Choisir une Catégorie</label>
									<div class="controls">
										{{ form_widget(form.category, { 'attr': {'class': 'span12'} }) }}
									</div>
								</div>
							</fieldset>

							<fieldset class="step">
								<div class="control-group">
									<label class="control-label" for="">Prix au Kilogramme</label>
									<div class="controls">
										{{ form_widget(form.weightPrice) }}
									</div>

								</div>

								<div class="control-group" id="product_price_type_trigger">
									<label class="control-label" for="">Type de Prix</label>
									<div class="controls">
										{{ form_widget(form.priceType) }}
									</div>
								</div>

								<div class="control-group conditional-field unit_fixed_price">
									<label class="control-label" for="">Prix</label>
									<div class="controls">
										{{ form_widget(form.price) }}
									</div>
								</div>

								<div class="control-group hide conditional-field unit_variable_price">
									<label class="control-label" for="">Poids par tranche</label>
									<div class="controls">
										{{ form_widget(form.productWeightPerSlice) }}
									</div>
								</div>

								<div class="control-group hide conditional-field chunk_price row-fluid">
									<div class="span4">
										Poid minimum <br>
										{{ form_widget(form.minWeight, { 'attr': {'style': 'width: 90%'} } ) }}
										<div class="text-centered">
											<img src="{{ asset('bundles/piggyboxshop/img/double-arrows.png')}}" alt="">
										</div>
										Minimum de personnes <br>
										{{ form_widget(form.minPerson, { 'attr': {'style': 'width: 90%'} } ) }}
									</div>
									<div class="span4">
										&nbsp;
									</div>
									<div class="span4">
										Poid maximum <br>
										{{ form_widget(form.maxWeight, { 'attr': {'style': 'width: 90%'} } ) }}
										<div class="text-centered">
											<img src="{{ asset('bundles/piggyboxshop/img/double-arrows.png')}}" alt="">
										</div>
										Maximum de personnes <br>
										{{ form_widget(form.maxPerson, { 'attr': {'style': 'width: 90%'} } ) }}
									</div>
								</div>
							</fieldset>

						</div>

					</div>

				</div>

		    </div>
		</div>

		<div class="row-fluid box-margined">
			<div class="span2">
				<a href="{{ path('monmagasin_mesproduits', {'category_id': 0 }) }}" class="btn btn-large btn-block">Annuler</a>
			</div>
			<div class="span10">
				<button type="submit" id="addProductButton" class="btn btn-large btn-block btn-primary"><i class="icon-pencil icon-white"></i> Créer ce nouveau produit</button>
			</div>
		</div>

{{ form_widget(form._token) }}
</form>


    </div>
</div>
{% endblock %}


{% block javascript %}
{{ parent() }}

<script type="text/javascript">

	$('#product_price_type_trigger select').change(function() {
		console.log("triggered");
		$('.conditional-field ').hide();
		$('.'+$(this).val()).show();
		console.log($(this).val());
	});

</script>


<script type="text/javascript" src="{{ asset('bundles/piggyboxshop/js/sliding.form.js')}}"></script>

<script type="text/javascript">
	$(function() {
	    /*
	    number of fieldsets
	    */
	    var fieldsetCount = $('.form-slider-container').children().length;

	    /*
	    current position of fieldset / navigation link
	    */
	    var current     = 1;

	    /*
	    sum and save the widths of each one of the fieldsets
	    set the final sum as the total width of the steps element
	    */
	    var stepsWidth  = 0;
	    var widths      = new Array();
	    $('#steps .step').each(function(i){
	        var $step       = $(this);
	        widths[i]       = stepsWidth;
	        stepsWidth      += $step.width();
	    });
	    $('#steps').width(stepsWidth);

	    /*
	    to avoid problems in IE, focus the first input of the form
	    */
	    $('.form-slider-container').children(':first').find(':input:first').focus();

	    /*
	    show the navigation bar
	    */
	    $('#navigation').show();

	    /*
	    when clicking on a navigation link
	    the form slides to the corresponding fieldset
	    */
	    $('#navigation a').bind('click',function(e){
	        var $this   = $(this);
	        var prev    = current;
	        $this.closest('ul').find('li').removeClass('selected');
	        $this.parent().addClass('selected');
	        /*
	        we store the position of the link
	        in the current variable
	        */
	        current = $this.parent().index() + 1;
	        /*
	        animate / slide to the next or to the corresponding
	        fieldset. The order of the links in the navigation
	        is the order of the fieldsets.
	        Also, after sliding, we trigger the focus on the first
	        input element of the new fieldset
	        If we clicked on the last link (confirmation), then we validate
	        all the fieldsets, otherwise we validate the previous one
	        before the form slided
	        */
	        $('#steps').stop().animate({
	            marginLeft: '-' + widths[current-1] + 'px'
	        },500,function(){
	            if(current == fieldsetCount)
	                validateSteps();
	            else
	                validateStep(prev);
	            $('.form-slider-container').children(':nth-child('+ parseInt(current) +')').find(':input:first').focus();
	        });
	        e.preventDefault();
	    });

	    /*
	    clicking on the tab (on the last input of each fieldset), makes the form
	    slide to the next step
	    */
	    $('.form-slider-container > fieldset').each(function(){
	        var $fieldset = $(this);
	        $fieldset.children(':last').find(':input').keydown(function(e){
	            if (e.which == 9){
	                $('#navigation li:nth-child(' + (parseInt(current)+1) + ') a').click();
	                /* force the blur for validation */
	                $(this).blur();
	                e.preventDefault();
	            }
	        });
	    });

	    /*
	    validates errors on all the fieldsets
	    records if the form has errors in $('#formElem').data()
	    */
	    function validateSteps(){
	        var FormErrors = false;
	        for(var i = 1; i < fieldsetCount; ++i){
	            var error = validateStep(i);
	            if(error == -1){
	                FormErrors = true;
	            }
	        }
	        $('.form-slider-container').data('errors',FormErrors);
	    }

	    /*
	    validates one fieldset
	    and returns -1 if errors found, or 1 if not
	    */
	    function validateStep(step){
	        if(step == fieldsetCount) return;

	        var error = 1;
	        var hasError = false;
	        $('.form-slider-container').children(':nth-child('+ parseInt(step) +')').find(':input:not(button)').each(function(){
	            var $this       = $(this);
	            var required	= $(this).attr('required');
	            var valueLength = jQuery.trim($this.val()).length;

	 			if(required) {
		            if(valueLength == ''){
		                hasError = true;
		                $this.css('background-color','#FFEDEF');
		            }
		            else
		                $this.css('background-color','#FFFFFF');
	 			}
	        });
	        var $link = $('#navigation li:nth-child(' + parseInt(step) + ') a');
	        $link.parent().find('.error,.checked').remove();

	        var valclass = 'checked';
	        if(hasError){
	            error = -1;
	            valclass = 'error';
	        }
	        $('<span class="'+valclass+'"></span>').insertAfter($link);

	        return error;
	    }

	    /*
	    if there are errors don't allow the user to submit
	    */
	    $('#addProductButton').bind('click',function(){
	        if($('.form-slider-container').data('errors')){
	            alert('Il reste des erreurs dans le formulaire (fond rouge)');
	            return false;
	        }
	    });
	});

</script>

{% endblock %}
