{% extends 'PiggyBoxShopBundle::layout.html.twig'%}


{% block body%}

{% include 'PiggyBoxShopBundle:Product:product_sub_header.html.twig' %}

<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Nouveau Produit</h1>
	</div>


	<form action="{{ path('monmagasin_mesproduits_create') }}" method="post" {{form_enctype(form)}} class="form-horizontal">
    {{ form_errors(form) }}

		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span4">
		    		<img src="" class="img240x240">
		    	</div>

				<div class="span8">

						<div class="control-group">
							<label class="control-label" for="inputName">Nom du produit</label>
							<div class="controls">
								{{ form_widget(form.name, { 'attr': {'class': 'span12','placeholder':'Nom du produit...'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputDesc">Description</label>
							<div class="controls">
								{{ form_widget(form.description, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputDesc">Origine</label>
							<div class="controls">
								{{ form_widget(form.origin, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputDesc">Conservation</label>
							<div class="controls">
								{{ form_widget(form.preservation, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<hr>

						<div class="control-group">
							<label class="control-label" for="inputName">Changer la photo</label>
							<div class="controls">
								{{ form_widget(form.file, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Choisir une Catégorie</label>
							<div class="controls">
								{{ form_widget(form.category, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Prix au Kilogramme</label>
							<div class="controls">
								{{ form_widget(form.weightPrice) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Prix</label>
							<div class="controls">
								{{ form_widget(form.price) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Type de Prix</label>
							<div class="controls">
								{{ form_widget(form.priceType) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Poids par tranche</label>
							<div class="controls">
								{{ form_widget(form.productWeightPerSlice, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Poid minimum</label>
							<div class="controls">
								{{ form_widget(form.minWeight, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Poid maximum</label>
							<div class="controls">
								{{ form_widget(form.maxWeight, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Minimum de personnes</label>
							<div class="controls">
								{{ form_widget(form.minPerson, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Maximum de personnes</label>
							<div class="controls">
								{{ form_widget(form.maxPerson, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>


				</div>

		    </div>
		</div>

		<div class="row-fluid box-margined">
			<div class="span2">
				<button type="submit" class="btn btn-large btn-block">Annuler</button>
			</div>
			<div class="span10">
				<button type="submit" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Ajouter ce produit</button>
			</div>
		</div>

{{ form_widget(form._token) }}
</form>


    </div>
</div>
{% endblock %}


{% block javascript %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script type="text/javascript">


// setup an "add a tag" link
//var $addTagLink = $('<a href="#" class="add_price_link"'>Add a Price</a>');
//var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {

    $('.pricing-tab').on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
		var container = '#' + $(this).attr('rel') + '-container';
		switch($(this).attr('rel'))
		{
		case "kg-pricing":
		  $('div#kg-pricing.box').attr('class', 'box box-success');
		  $('div#unit-pricing.box').attr('class', 'box box-error');

		  break;
		case 'multiple-pricing':

		  $('div#kg-pricing.box').attr('class', 'box box-error');
		  $('div#unit-pricing.box').attr('class', 'box box-error');

		  break;
		default:

		  $('div#unit-pricing.box').attr('class', 'box box-success');
		  $('div#kg-pricing.box').attr('class', 'box box-error');

		}
		$('.pricing-tab-container').hide();
		$(container).show();

    });

});

</script>

</script>
{% endblock %}
