{% extends 'PiggyBoxShopBundle::layout.html.twig'%}
{% block body%}

{% include 'PiggyBoxShopBundle:Product:product_sub_header.html.twig' %}
<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Nouveau Produit</h1>
	</div>


	<form action="{{ path('monmagasin_mesproduits_create') }}" method="post" {{form_enctype(form)}} class="form-horizontal">
    {{ form_errors(form) }}
<div class="weightprices" data-prototype="{{ form_widget(form.prices.vars.prototype.price, { 'attr': {'class': 'span12','placeholder':'Nom du produit...'} })|e }}">
        {# iterate over each existing tag and render its only field: name #}
    </div>

		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span4">
		    		<img src="http://placehold.it/240x240" class="img-polaroid">
		    	</div>

				<div class="span8">

						<div class="control-group">
							<label class="control-label" for="inputName">Nom du produit</label>
							<div class="controls">
								{{ form_widget(form.name, { 'attr': {'class': 'span12','placeholder':'Nom du produit...'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputDesc">Description</label>
							<div class="controls">
								{{ form_widget(form.description, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputName">Changer la photo</label>
							<div class="controls">
								{{ form_widget(form.file, { 'attr': {'class': 'span12'} }) }}
							</div>
						</div>

				</div>

		    </div>
		</div>  

		<h2 class="text-centered">Choisissez une méthode de tarification</h2>

		<div class="row">
			<div class="span4">
				<a class='pricing-tab' rel="unit-pricing">
					<div id="unit-pricing" class="box box-error">
						<h3 class="no-margin text-centered">
							<img src="img/cross.png" />
							Prix Unitaire
						</h3>
					</div>
				</a>
			</div>
			<div class="span4">
				<a class="pricing-tab" rel="kg-pricing">
					<div id="kg-pricing" class="box box-error">
						<h3 class="no-margin text-centered">
							<img src="img/cross.png" alt="">
							Prix au Kg
						</h3>
					</div>
				</a>
			</div>
			<div class="span4">
				<a class="pricing-tab" rel="multiple-pricing">
					<div id="multiple-pricing" class="box box-success">
						<h3 class="no-margin text-centered">
							<img src="img/tick.png" alt="">
							Prix à la coupe
						</h3>
					</div>
				</a>
			</div>
		</div>

		<div id="unit-pricing-container" class="row hide pricing-tab-container">
			<div class="span12">
				<div class="box">
					<div class="form-inline form-huge">
						<div class="row-fluid">
							<div class="span4 offset2">
								<h3 class="no-margin text-centered">Prix Unitaire</h3>
							</div>
							<div class="span4">
								<h3 class="no-margin text-centered">Prix au Kilo</h3>
							</div>
						</div>
						
						<div class="row-fluid">
							<div id="unit-pricing-input-price" class="span4 offset2">
								{{ form_widget(form.prices.vars.prototype.price, { 'attr': {'class': 'span12 text-centered','placeholder':'Ex: 3.59'} }) }}
							</div>
							<div id="unit-pricing-input-price-kg" class="span4">
								{{ form_widget(form.price_kg, { 'attr': {'class': 'span12 text-centered','placeholder':'Ex: 11.99'} }) }}
							</div>
						</div>

						<hr />

						<div class="row-fluid">
							<div class="span8 offset2">
								<button type="submit" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="kg-pricing-container" class="row hide pricing-tab-container">
			<div class="span12">
				<div class="box">
					<div class="form-inline form-huge">
						<div class="row-fluid">
							<div class="span4 offset4">
								<h3 class="no-margin text-centered">Prix au Kg</h3>
							</div>
						</div>
						
						<div class="row-fluid">
							<div id="kg-pricing-input-price-kg" class="span4 offset4">
								<input type="text" class="span12 text-centered" placeholder="Ex: 3.59">
							</div>
						</div>

						<hr />

						<div class="row-fluid">
							<div class="span4 offset4">
								<button type="submit" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="multiple-pricing-container" class="row hide pricing-tab-container">
			<div class="span12">
				<div class="box">
					<div class="form-inline">
						<table class="table table-bordered">
							<tr>
								<th>Coupe / pièce</th>
								<th>Poids total</th>
								<th>Prix</th>
								<th>Prix / Kg</th>
							</tr>
							<tr>
								<td id="multiple-pricing-input-slice-price">
								{{ form_widget(form.prices.vars.prototype.slice_nbr, { 'attr': {'class': 'input-small','placeholder':'1 pièce'} }) }}
									<input type="text" class="input-small" placeholder="1 pièce" />
								</td>
								<td id="multiple-pricing-input-total-weight">
								{{ form_widget(form.prices.vars.prototype.total_weight, { 'attr': {'class': '','placeholder':'entre 150g et 200g'} }) }}
									<input type="text" class="" placeholder="entre 150g et 200g" />
								</td>
								<td id="multiple-pricing-input-price">
								{{ form_widget(form.prices.vars.prototype.price, { 'attr': {'class': 'input-small','placeholder':'4,49'} }) }}
									<input type="text" class="input-small" placeholder="4,49" />
								</td>
								<td id="multiple-pricing-input-price-kg">
								{{ form_widget(form.price_kg, { 'attr': {'class': 'input-small','placeholder':'23,99'} }) }}
									<input type="text" class="input-small" placeholder="23,99" />
								</td>
							</tr>
						</table>

						<div class="row-fluid">
							<div class="span6">
								<a class="btn btn-large btn-block btn-success add-table-row"><i class="icon-plus icon-white"></i> Ajouter une ligne</a>
							</div>
							<div class="span6">
								<button type="submit" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Enregistrer tout</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


{{ form_widget(form._token) }}
</form>


    </div>
</div>

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script type="text/javascript">

$('.pricing-tab').click(function() {
	var container = '#' + $(this).attr('rel') + '-container';
	//alert(container);
	$('.pricing-tab-container').hide();
	$(container).show();
});

$('.add-table-row').click(function() {
	$('tr.hide').first().removeClass("hide");
});



// Get the div that holds the collection of prices 
var collectionHolder = $('div.weightprices');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_price_link">Add a Price</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

var $addUnitPrice = $('div.unit-pricing-input-price');

jQuery(document).ready(function() {
	// add a delete link to all of the existing tag form li elements
    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
	console.log(prototype);
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
	addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">delete this tag</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}



</script>
{% endblock %}

{% endblock %}
