<!DOCTYPE html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}2 pas 2 clics{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="author" content="Baptiste DUPUCH" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

		{% stylesheets filter='cssrewrite, lessphp'
			'bundles/piggyboxshop/less/bootstrap.less'
				output='css/main.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}

    </head>

    <body>
		<header id="masterhead" class="app-banner container">
			
			<div class="navbar navbar-fixed-bottom navbar-inverse">
			  <div class="navbar-inner">
				<div class="container">
			 
				  <!-- Everything you want hidden at 940px or less, place within here -->
				  <div class="nav-collapse row">
					<nav>
						<ul class="nav">
							<li class="active span3"><a href="{{ path('moncommerce_mescommandes') }}">Commandes</a></li>
							<li class="span2"><a href="{{ path('monmagasin_mesproduits') }}">Produits</a></li>
							<li class="span2"><a href="#">Clients</a></li>
							<li class="span2"><a href="#">Outils</a></li>
							<li class="span2 "><a href="#">MonCompte</a></li>
						</ul>

					</nav>
				  </div>
			 
				</div>
			  </div>
			</div>	

		</header>

		{% block body %}{% endblock %}
		{% block javascript %}{% endblock %}
    </body>

</html>


